/* CSS rules for Angular civicase timeline */
#bootstrap-theme .cb-dot {
  position: absolute;
  left: -1.3em;
  top: -.9em;
  width: 2.7em;
  height: 2.7em;
  background-color: #c2cfd8;
  border-radius: 1.5em;
  color: white;
  font-size: 1.5em;
  text-align: center;
  padding-top: .2em;
  border: .4em solid white;
}

#bootstrap-theme .dropdown-menu>li>span {
  display: block;
  padding: 11px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.5384615385;
  color: #727E8A;
  white-space: nowrap;
}

#bootstrap-theme .act-feed-list-group,
#bootstrap-theme .act-feed-view-activity {
  position: relative;
  transition: width .2s linear;
  overflow: hidden;
}

#bootstrap-theme .act-feed-list-group {
  width: 100%;
}

#bootstrap-theme div.act-feed-panel .panel-body {
  padding: 0;
}

#bootstrap-theme .act-feed-list-group.viewing-activity {
  width: 60%;
  float: left;
}

#bootstrap-theme .act-feed-view-activity {
  width: 40%;
  float: right;
  border-left: 1px solid #e7e7e7;
}

#bootstrap-theme div.act-actions-menu {
  position: absolute;
  right: -.5em;
  top: -.5em;
}

#bootstrap-theme div.act-attachment-menu {
  display: inline-block;
}

#bootstrap-theme .act-feed-list-group div.btn-group-sm>button.btn {
  font-size: 16px;
}

#bootstrap-theme .act-feed-item div.btn-group-sm>button.btn {
  background-color: transparent;
}

#bootstrap-theme .act-filters .btn-group,
#bootstrap-theme .act-filters .form-control {
  margin: .6em 0 .6em .6em;
}

#bootstrap-theme .act-feed-list-group .list-group-item {
  border: 0 none;
  padding: 0;
  margin: 0;
}

#bootstrap-theme .act-feed-list-group .act-list-controls {
  padding: .2em 0;
  margin: 0 .5em;
  border-bottom: 1px solid #ddd;
}

#bootstrap-theme .act-feed-list-group .act-category-milestone .act-feed-item {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 5px solid;
  border-right: 5px solid;
}

#bootstrap-theme .act-feed-list-group .act-feed-item {
  padding: 10px 15px;
  cursor: pointer;
}

#bootstrap-theme .act-feed-list-group.act-feed-list-group-file .act-feed-item {
  cursor: inherit;
}

#bootstrap-theme .act-feed-list-group .act-feed-item.act-is-viewing {
  color: #555;
  background-color: #F3F6F7;
}

#bootstrap-theme .act-feed-list-group .act-feed-item.act-is-viewing .cb-dot {
  border-color: #F3F6F7;
}

#bootstrap-theme .act-feed-list-group .act-feed-item:hover {
  color: #555;
  background-color: #F3F6F7;
}

#bootstrap-theme .act-feed-list-group.act-feed-list-group-file .act-feed-item:hover {
  background: inherit;
}

#bootstrap-theme .act-feed-list-group .act-feed-item:hover .cb-dot {
  border-color: #F3F6F7;
}

#bootstrap-theme .act-feed-list-group .act-feed-inner {
  margin-left: 1em;
  padding-left: 3em;
  position: relative;
}

#bootstrap-theme .activity-timeline .act-feed-inner {
  border-left: 1px solid #ddd;
}

#bootstrap-theme .act-feed-list-group .act-category-milestone .act-feed-inner {
  border-left: 0 none;
}

#bootstrap-theme .act-feed-list-group .act-category-task .act-feed-inner {
  padding-left: 5em;
}

#bootstrap-theme .act-feed-list-group .act-category-alert.is-incomplete .act-subject {
  font-weight: bold;
}

#bootstrap-theme .act-feed-list-group .act-category-alert.is-incomplete .cb-dot {
  background-color: #e6807f;
}

#bootstrap-theme .act-feed-list-group .act-date {
  font-weight: bold;
  padding-left: 1em;
}

#bootstrap-theme .act-feed-list-group .act-task-checkbox {
  position: absolute;
  color: #586277;
  left: 34px;
  top: -6px;
  font-size: 1.5em;
  cursor: pointer;
}

#bootstrap-theme .act-feed-list-group .act-task-checkbox:hover i {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}

#bootstrap-theme .act-feed-list-group .act-subject {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70%;
  margin-right: 1em;
  display: inline-block;
}

#bootstrap-theme .act-feed-list-group .act-category-milestone .act-subject {
  font-weight: bold;
}

#bootstrap-theme .act-feed-list-group .act-star {
  margin-right: .5em;
  color: #c2cfd8;
}

#bootstrap-theme .act-feed-list-group .act-star .fa-star {
  color: #ECA67F;
}

#bootstrap-theme .act-feed-list-group .act-star:hover,
#bootstrap-theme .act-feed-list-group .act-star:focus,
.act-list-controls .fa-star {
  color: #f1965a;
}

#bootstrap-theme .act-feed-list-group .act-details {
  overflow: hidden;
  max-height: 9em;
}

#bootstrap-theme .act-feed-list-group .act-contacts {
  padding: 1em 0;
}

#bootstrap-theme .act-feed-list-group .act-contacts div {
  min-width: 40%;
  max-width: 100%;
  margin-right: 2em;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#bootstrap-theme .act-list-controls label.btn {
  border-color: lightgrey;
}
#bootstrap-theme .act-tags .label {
  margin-right: 1em;
}
#bootstrap-theme .pager-loading {
  height: 200px;
}