/* CSS rules for Angular civicase view */
#bootstrap-theme .civicase-view-with-search {
  width: 75%;
  padding-left: 10px;
}
#bootstrap-theme .civicase-view-with-search.case-is-focused {
  width: 100%;
  padding-left: 20px;
}
#bootstrap-theme .civicase-view-header {
  padding: 10px;
}
#bootstrap-theme .civicase-view-header h2 {
  margin-top: 0;
}
#bootstrap-theme .civicase-tags .label {
  margin-right: 1em;
}
#bootstrap-theme .case-action-menu {
  clear: both;
  margin-top: 5px;
}
#bootstrap-theme .civicase-type-and-manager {
  margin-top: 5px;
  border-top: 1px solid #c2cfd8;
}
#bootstrap-theme .civicase-view-panel .panel-body {
  padding: 0;
}
#bootstrap-theme .civicase-view-summary .panel-body ul {
  margin: 0;
}
#bootstrap-theme .civicase-summary-top {
  padding: 5px 10px 10px;
}
#bootstrap-theme .civicase-case-subject {
  width: 50%;
  float: left;
}
#bootstrap-theme .civicase-next-milestone {
  width: 40%;
  float: right;
}
#bootstrap-theme .milestone-overdue h4 span {
  color: #d9534f;
}
#bootstrap-theme nav.civicase-view-tab-bar {
  background-color: #31b0d5;
  border: 0 none;
  border-radius: 0;
  box-shadow: 0 5px 20px rgba(0,0,0,.2);
}
#bootstrap-theme .navbar.civicase-view-tab-bar .btn-group {
  margin: 12px 12px 0 0;
}
#bootstrap-theme .navbar.civicase-view-tab-bar .btn {
  color: white;
  border: 1px solid white;
  background-color: transparent;
}
#bootstrap-theme .navbar.civicase-view-tab-bar .btn-group.open .btn {
  background-color: white;
  color: #31b0d5;
  box-shadow: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#bootstrap-theme .navbar.civicase-view-tab-bar .navbar-nav li {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
#bootstrap-theme .navbar.civicase-view-tab-bar .navbar-nav > li > a {
  border-bottom: 3px solid transparent;
}
#bootstrap-theme .navbar.civicase-view-tab-bar .navbar-nav > .active > a {
  background-color: transparent;
  border-bottom: 3px solid white;
}
#bootstrap-theme .civicase-view-summary .panel-header h3 {
  margin: 0;
  padding: 5px;
}
#bootstrap-theme .civicase-view-related-cases .panel-body > a {
  display: block;
  padding: 5px;
  text-decoration: none;
}
#bootstrap-theme .civicase-view-related-cases .panel-body > a + a {
  border-top: 1px solid #D3DEE2;
}
#bootstrap-theme .civicase-view-related-cases .panel-body > a:hover {
  background-color: #F3F6F7;
}
#bootstrap-theme .civicase-view-related-cases .panel-body > a > i.fa-arrow-circle-o-right {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.2);
}
#bootstrap-theme .civicase-view-related-cases .panel-body > a:hover > i.fa-arrow-circle-o-right {
  color: inherit;
}
#bootstrap-theme .civicase-alpha-pager a {
  margin-left: .8em;
}
#bootstrap-theme .civicase-alpha-pager a.active {
  font-weight: bold;
}
#bootstrap-theme .case-tab-people .nav.nav-tabs > li:first-child {
  margin-left: 1em;
}