/* CSS rules for Angular civicase list */
#bootstrap-theme .case-list-panel,
#bootstrap-theme .civicase-view-with-search {
  position: relative;
  transition: width .2s linear;
}
#bootstrap-theme .case-list-panel,
#bootstrap-theme table.case-list-table,
#bootstrap-theme .case-list-panel.viewing-case th:first-child,
#bootstrap-theme .case-list-panel.viewing-case td:first-child {
  width: 100%;
}
#bootstrap-theme .case-list-panel.viewing-case {
  width: 25%;
}
#bootstrap-theme .case-list-panel.case-is-focused {
  width: 15px;
}
#bootstrap-theme .case-list-table {
  table-layout: fixed;
  word-wrap: break-word;
}
#bootstrap-theme .case-list-table thead tr {
  height: 61px;
  overflow: hidden;
}
#bootstrap-theme .case-list-table th,
#bootstrap-theme .case-list-table td {
  padding: 10px;
  position: relative;
}
#bootstrap-theme .case-list-table td:first-child {
  cursor: pointer;
}
#bootstrap-theme .case-list-table th:first-child,
#bootstrap-theme .case-list-table td:first-child {
  border-right: 1px solid #ddd;
  width: 25%;
}
#bootstrap-theme .case-list-table td:first-child:hover {
  background-color: #f2f9fc;
}
#bootstrap-theme .viewing-case .case-list-table td.case-selected-for-view {
  background-color: #d9edf7;
}

#bootstrap-theme .case-list-table td:first-child h4 {
  margin: 0;
}
#bootstrap-theme .case-list-table tr {
  border-top: 1px solid #ddd;
}
#bootstrap-theme .case-list-checkbox {
  position: absolute;
  top: 18px;
  left: 15px;
}
#bootstrap-theme .case-list-checkbox input {
  transform: scale(1.2);
}
#bootstrap-theme .case-list-checkbox + div {
  margin-left: 30px;
}
#bootstrap-theme .case-list-table .badge.overdue-activities {
  background-color: #d9534f;
  float: right;
  margin-top: 5px;
}
#bootstrap-theme .case-list-table .case-alerts {
  color: #d9534f;
}
#bootstrap-theme .civicase-table-expander {
  position: absolute;
  top: 50%;
  right: -15px;
  height: 30px;
  width: 15px;
  cursor: pointer;
  margin-top: -15px;
  overflow: hidden;
  opacity: .8;
}
#bootstrap-theme .civicase-table-expander div {
  position: relative;
  left: -15px;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  color: white;
  background-color: #777;
  text-align: center;
  font-size: 18px;
  text-indent: 12px;
  text-shadow: 1px 1px #303030;
}
#bootstrap-theme .civicase-table-expander:hover div {
  background-color: #23527c;
}
#bootstrap-theme .civicase-table-placeholder {
  width: 15px;
  height: 600px;
  cursor: pointer;
  position: relative;
}
#bootstrap-theme .civicase-table-placeholder div {
  position: absolute;
  top: 50%;
  font-size: 18px;
  left: 3px;
  margin-top: -13px;
}
#bootstrap-theme th.civicase-sortable {
  cursor: pointer;
}
#bootstrap-theme .cc-sort-icon {
  margin-left: 10px;
}
#bootstrap-theme .cc-sort-btn-group button {
  border-right: 2px solid #f4f7f8;
}
#bootstrap-theme .cc-sort-btn-group button {
  border-right: 2px solid #f4f7f8;
}
