/* CSS rules for Angular civicase list */
#bootstrap-theme .civicase__list-panel,
#bootstrap-theme .civicase-view-with-search {
  position: relative;
  transition: width .2s linear;
}
#bootstrap-theme .civicase__list-panel,
#bootstrap-theme .civicase__list-panel.civicase__list-panel--case-detail th:first-child,
#bootstrap-theme .civicase__list-panel.civicase__list-panel--case-detail td:first-child {
  width: 100%;
}
#bootstrap-theme .civicase__list-panel.civicase__list-panel--case-detail {
  width: 25%;
}
#bootstrap-theme .civicase__list-panel.case-is-focused {
  background: #fff;
  height: calc(100% - 31px);
  position: absolute;
  width: 30px;
}
#bootstrap-theme .civicase__list-panel.case-is-focused .civicase__pager {
  padding: 0;
}

#bootstrap-theme .case-list-checkbox {
  left: 15px;
  position: absolute;
  top: 18px;
  width: 17px;
}
#bootstrap-theme .case-list-checkbox input[type="checkbox"] {
  display: block;
  margin-left: 0;
  position: absolute;
  opacity: 0;
  transform: scale(1.2);
  z-index: 1;
}
#bootstrap-theme .case-list-checkbox + div {
  margin-left: 30px;
  margin-top: 5px;
}

#bootstrap-theme .case-activity-summary-icons {
  margin-top: 5px;
}
#bootstrap-theme .case-activity-summary-icons a {
  color: #AABAC3;
  font-size: 18px;
  margin-right: 10px;
}
#bootstrap-theme .case-activity-summary-icons a:hover {
  color: #727E8A;
  text-decoration: none;
}
#bootstrap-theme .case-activity-summary-icons a i {
  vertical-align: middle;
}

#bootstrap-theme a.badge.item-overdue {
  background-color: #d9534f;
}
#bootstrap-theme .civicase-table-expander {
  position: absolute;
  top: 50%;
  right: -15px;
  height: 30px;
  width: 15px;
  cursor: pointer;
  margin-top: -15px;
  overflow: hidden;
  opacity: .8;
}
#bootstrap-theme .civicase-table-expander div {
  position: relative;
  left: -15px;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  color: white;
  background-color: #777;
  text-align: center;
  font-size: 18px;
  text-indent: 12px;
  text-shadow: 1px 1px #303030;
  z-index: 1;
}
#bootstrap-theme .civicase-table-expander:hover div {
  background-color: #23527c;
}
#bootstrap-theme .civicase-table-placeholder {
  cursor: pointer;
  height: 100%;
  position: relative;
  width: 30px;
}
#bootstrap-theme .civicase-table-placeholder:hover,
#bootstrap-theme .civicase-filters-placeholder:hover {
  background-color: #f3f6f7;
}
#bootstrap-theme .civicase-table-placeholder div {
  font-size: 18px;
  left: 0;
  margin-top: -13px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
#bootstrap-theme th.civicase-sortable {
  cursor: pointer;
}
#bootstrap-theme th.civicase-sortable:hover {
  background-color: #f2f9fc;
}
#bootstrap-theme th.civicase-sortable.sorting {
  background-color: #d9edf7;
}
#bootstrap-theme .cc-sort-icon {
  position: absolute;
  right: 9px;
  top: 24px;
}
#bootstrap-theme .cc-sort-btn-group button {
  border-right: 2px solid #f4f7f8;
}
#bootstrap-theme .cc-sort-btn-group button {
  border-right: 2px solid #f4f7f8;
}
#bootstrap-theme .act-feed-panel input[type=checkbox] + label[for],
#bootstrap-theme .act-feed-panel input[type=radio] + label[for] {
  color: #727E8A;
  font-weight: normal;
  position: relative;
  vertical-align: middle;
}

#bootstrap-theme .act-feed-panel input[type=checkbox] + label[for]:after,
#bootstrap-theme .act-feed-panel input[type=radio] + label[for]:after,
#bootstrap-theme .case-list-checkbox input[type=checkbox] + label[for]:after {
  font-size: 13px;
}
#bootstrap-theme .noti-badge {
  background: #42AFCB;
  border-radius: 50%;
  color: #FFF;
  display: inline-block;
  font-size: 10px;
  height: 16px;
  line-height: 14px;
  margin: -8px 0 0 -8px;
  min-width: 16px;
  padding: 1px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width: 16px;
}

#bootstrap-theme .item-overdue .noti-badge {
  background: #E6807F;
  color: #FFF;
}

#bootstrap-theme .dashboard-case-wrapper :not(.civicase__list-panel--case-detail) .scrolling .custom-scroll-wrapper.affix {
  top: 173px;
}

#bootstrap-theme .dashboard-case-wrapper div.civicase__list-panel:not(.civicase__list-panel--case-detail) .scrolling table tr th:first-child {
  background: #FFFFFF;
}
#bootstrap-theme .dashboard-case-wrapper div.civicase__list-panel:not(.civicase__list-panel--case-detail) .scrolling table td {
  padding-left: 20px;
}

#bootstrap-theme .dashboard-case-wrapper :not(.civicase__list-panel--case-detail) .scrolling .custom-scroll-wrapper.affix {
  width: 485px;
}

div.lockDiv {
  width: 100%;
  height: 100%;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 38px;
}

div.lockDiv div {
  position: absolute;
  top: 57px;
  right: 20px;
}

div.lockDiv:hover {
  color: inherit;
}
