/* CSS rules for Angular civicase list */
#bootstrap-theme .case-list-panel,
#bootstrap-theme .civicase-view-with-search {
  position: relative;
  transition: width .2s linear;
}
#bootstrap-theme .case-list-panel,
#bootstrap-theme table.case-list-table,
#bootstrap-theme .case-list-panel.viewing-case th:first-child,
#bootstrap-theme .case-list-panel.viewing-case td:first-child {
  width: 100%;
}
#bootstrap-theme .case-list-panel.viewing-case {
  width: 25%;
}
#bootstrap-theme .case-list-panel.case-is-focused {
  background: #fff;
  height: calc(100% - 31px);
  position: absolute;
  width: 30px;
}
#bootstrap-theme .case-list-table {
  table-layout: fixed;
  word-wrap: break-word;
}
#bootstrap-theme .case-list-table thead tr {
  height: 61px;
  overflow: hidden;
}
#bootstrap-theme .case-list-table thead select.btn {
  width: 120px;
}
#bootstrap-theme .case-list-table th,
#bootstrap-theme .case-list-table td {
  padding: 10px;
  position: relative;
}
#bootstrap-theme .case-list-table td:first-child {
  cursor: pointer;
}
#bootstrap-theme .case-list-table th:first-child,
#bootstrap-theme .case-list-table td:first-child {
  border-right: 1px solid #ddd;
  width: 25%;
}
#bootstrap-theme .case-list-table td:first-child:hover {
  background-color: #f2f9fc;
}
#bootstrap-theme .viewing-case .case-list-table td.case-selected-for-view {
  background-color: #d9edf7;
}

#bootstrap-theme .case-list-table td:first-child h4 {
  margin: 0;
}
#bootstrap-theme .case-list-table tr {
  border-top: 1px solid #ddd;
}
#bootstrap-theme .case-list-checkbox {
  position: absolute;
  top: 18px;
  left: 15px;
}
#bootstrap-theme .case-list-checkbox input {
  transform: scale(1.2);
}
#bootstrap-theme .case-list-checkbox + div {
  margin-left: 30px;
}
#bootstrap-theme .case-activity-summary-icons .badge {
  margin-right: 10px;
}
#bootstrap-theme a.badge.item-overdue {
  background-color: #d9534f;
}
#bootstrap-theme .civicase-table-expander {
  position: absolute;
  top: 50%;
  right: -15px;
  height: 30px;
  width: 15px;
  cursor: pointer;
  margin-top: -15px;
  overflow: hidden;
  opacity: .8;
}
#bootstrap-theme .civicase-table-expander div {
  position: relative;
  left: -15px;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  color: white;
  background-color: #777;
  text-align: center;
  font-size: 18px;
  text-indent: 12px;
  text-shadow: 1px 1px #303030;
}
#bootstrap-theme .civicase-table-expander:hover div {
  background-color: #23527c;
}
#bootstrap-theme .civicase-table-placeholder {
  cursor: pointer;
  height: 100%;
  position: relative;
  width: 30px;
}
#bootstrap-theme .civicase-table-placeholder:hover,
#bootstrap-theme .civicase-filters-placeholder:hover {
  background-color: #f3f6f7;
}
#bootstrap-theme .civicase-table-placeholder div {
  font-size: 18px;
  left: 0;
  margin-top: -13px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
#bootstrap-theme th.civicase-sortable {
  cursor: pointer;
}
#bootstrap-theme th.civicase-sortable:hover {
  background-color: #f2f9fc;
}
#bootstrap-theme th.civicase-sortable.sorting {
  background-color: #d9edf7;
}
#bootstrap-theme .cc-sort-icon {
  position: absolute;
  right: 9px;
  top: 24px;
}
#bootstrap-theme .cc-sort-btn-group button {
  border-right: 2px solid #f4f7f8;
}
#bootstrap-theme .cc-sort-btn-group button {
  border-right: 2px solid #f4f7f8;
}
#bootstrap-theme input[type=checkbox] + label[for],
#bootstrap-theme input[type=radio] + label[for] {
  color: #727E8A;
  font-weight: normal;
  position: relative;
  vertical-align: middle;
}
#bootstrap-theme input[type=radio] + label[for] {
  line-height: 21px;
}
#bootstrap-theme input[type=radio] + label[for]:before {
  background-color: #ffffff;
  border: solid 1px #C2CFD8;
  border-radius: 50%;
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2);  
  content: '';
  display: inline-block;
  height: 16px;
  min-width: 16px;
  width: 16px;
}
#bootstrap-theme input[type=radio]:checked + label[for]:after {
  background-color: #727E8A;
  border-radius: 50%;
  content: '';
  display: inline-block;
  left: 4px;
  height: 8px;
  min-width: 8px;
  position: absolute;
  top: 8px;
  width: 8px;
}
#bootstrap-theme input[type=checkbox] + label[for]:before {
  background-color: #ffffff;
  border: solid 1px #C2CFD8;
  border-radius: 2px;
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
  content: '';
  display: inline-block;
  height: 16px;
  margin-right: 10px;
  min-width: 16px;
  width: 16px;
}
#bootstrap-theme input[type=checkbox]:checked + label[for]:after {
  color: #4D5663;
  content: "\f00c";
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: 15px;
  font-style: normal;
  left: 2px;
  margin-top: -6px;
  position: absolute;
  text-rendering: auto;
  top: 6px;
}