/* #bootstrap-theme .text-dark {
  color: #383f4b;
}
#bootstrap-theme .btn .caret {
  position: relative;
  left: 4px;
}
#bootstrap-theme .panel {
  border-radius: 2px;
}
#bootstrap-theme .panel .panel-header {
  background-color: #f3f6f7;
}
#bootstrap-theme .cc-zero-w {
  width: 0%;
  box-shadow: none;
  padding: 0;
  border: 0 none;
  overflow: hidden;
}
#bootstrap-theme .cc-zero-h {
  height: 0px;
  transition: height .2s linear;
}

/* Customize tabs on "View Contact" page */
/*
#civicaseContactTab h1[crm-page-title=""] {
    display: none;
}

/* Searchable dropdown widget */
/*
#bootstrap-theme .dropdown-toggle.searchable-dropdown > input {
  margin: 0;
  display: none;
}
#bootstrap-theme .dropdown-toggle.searchable-dropdown[aria-expanded=true] {
  padding: 0;
}
#bootstrap-theme .dropdown-toggle.searchable-dropdown[aria-expanded=true] > input {
  display: inline-block;
}
#bootstrap-theme .dropdown-toggle.searchable-dropdown[aria-expanded=true] > span {
  display: none;
}
#bootstrap-theme .dropdown-toggle.searchable-dropdown > input::placeholder {
  font-family: FontAwesome;
  text-align: right;
}
#bootstrap-theme .dropdown-toggle.searchable-dropdown > input::-moz-placeholder {
  font-family: FontAwesome;
  text-align: right;
}
#bootstrap-theme .dropdown-toggle.searchable-dropdown > input:-ms-input-placeholder {
  font-family: FontAwesome;
  text-align: right;
}
#bootstrap-theme .dropdown-toggle.searchable-dropdown > input::-webkit-input-placeholder {
  font-family: FontAwesome;
  text-align: right;
}
#bootstrap-theme .dropdown-toggle.searchable-dropdown + ul.dropdown-menu {
  overflow-y: auto;
  max-height: 400px;
}
#bootstrap-theme .act-feed-inner {
  padding-left: 30px;
}
#bootstrap-theme .case-activity-card-wrapper .btn {
  border: none;
}
#bootstrap-theme td.case-activity-card-wrapper .activity-card-menu {
  margin-top: -5px;
}
#bootstrap-theme td.case-activity-card-wrapper a.act-star {
  margin-top: -7px;
}
#bootstrap-theme .act-task-checkbox {
  color: #586277;
  cursor: pointer;
  font-size: 1.5em;
  left: 34px;
  position: absolute;
  top: -3px;
}
#bootstrap-theme .act-task-checkbox:hover i {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}
.civicase-type-donut-chart text.dc-donutty-label-main {
  font-size: 1.5em;
}
.civicase-type-donut-chart text.dc-donutty-label-sub {
  font-size: 0.8em;
}
.dc-chart .civicase-type-duration-chart g.row text {
  fill: black;
}

#bootstrap-theme .act-subject-draft {
  color: #525966;
  font-size: 13px;
  margin-right: 10px;
}

#bootstrap-theme .open>.dropdown-menu {
  position: fixed;
  width: fit-content;
} */
