#bootstrap-theme.civicase-main {
  max-width: 1200px;
  margin: 0 auto;
}
#bootstrap-theme .btn .caret {
  position: relative;
  left: 4px;
}
#bootstrap-theme .panel .panel-header {
  background-color: #f3f6f7;
}
#bootstrap-theme .cc-zero-w {
  width: 0%;
  box-shadow: none;
  padding: 0;
  border: 0 none;
  overflow: hidden;
}
#bootstrap-theme .cc-zero-h {
  height: 0px;
  transition: height .2s linear;
}
#bootstrap-theme .civicase-left-40 {
  float: left;
  width: 40%;
}
#bootstrap-theme .civicase-right-60 {
  float: right;
  width: 60%;
  padding-left: 15px;
  box-sizing: border-box;
}
#bootstrap-theme .civicase-icon-placeholder {
  color: white;
  position: relative;
  left: -11px;
  font-size: 10px;
  top: -1px;
  width: 10px;
  display: inline-block;
}