#bootstrap-theme.civicase-main {
  max-width: 1200px;
  margin: 0 auto;
}
#bootstrap-theme .btn .caret {
  position: relative;
  left: 4px;
}
#bootstrap-theme .panel .panel-header {
  background-color: #f3f6f7;
}
#bootstrap-theme .cc-zero-w {
  width: 0%;
  box-shadow: none;
  padding: 0;
  border: 0 none;
  overflow: hidden;
}
#bootstrap-theme .cc-zero-h {
  height: 0px;
  transition: height .2s linear;
}
#bootstrap-theme .civicase-icon-placeholder {
  color: white;
  position: relative;
  left: -14px;
  font-size: 10px;
  top: -1px;
  width: 10px;
  display: inline-block;
}
#bootstrap-theme .panel .civicase-panel-empty {
  padding: 5px;
  color: #aaa;
}
#bootstrap-theme .crm-ui-range > span {
  width: 50%;
  display: inline-block;
}
#bootstrap-theme .crm-ui-range span.crm-form-date-wrapper {
  width: 100%;
  display: inline-block;
}
#bootstrap-theme .crm-ui-range .crm-form-date {
  width: 80%;
  display: inline-block;
}

/* Customize tabs on "View Contact" page */
#civicaseContactTab h1[crm-page-title=""], #civicaseContactTab [civicase-search="filters"] {
    display: none;
}
#civicaseActivitiesTab .act-list-controls {
  display: none;
}

/* Searchable dropdown widget */
#bootstrap-theme .dropdown-toggle.searchable-dropdown > input {
  margin: 0;
  display: none;
}
#bootstrap-theme .dropdown-toggle.searchable-dropdown[aria-expanded=true] {
  padding: 0;
}
#bootstrap-theme .dropdown-toggle.searchable-dropdown[aria-expanded=true] > input {
  display: inline-block;
}
#bootstrap-theme .dropdown-toggle.searchable-dropdown[aria-expanded=true] > span {
  display: none;
}
#bootstrap-theme .dropdown-toggle.searchable-dropdown > input::placeholder {
  font-family: FontAwesome;
  text-align: right;
}
#bootstrap-theme .dropdown-toggle.searchable-dropdown > input::-moz-placeholder {
  font-family: FontAwesome;
  text-align: right;
}
#bootstrap-theme .dropdown-toggle.searchable-dropdown > input:-ms-input-placeholder {
  font-family: FontAwesome;
  text-align: right;
}
#bootstrap-theme .dropdown-toggle.searchable-dropdown > input::-webkit-input-placeholder {
  font-family: FontAwesome;
  text-align: right;
}
#bootstrap-theme .dropdown-toggle.searchable-dropdown + ul.dropdown-menu {
  overflow-y: auto;
  max-height: 400px;
}
