<!-- Tasks -->
<div class="civicase__case-card__activity-count-container">
  <span>Tasks: </span>
  <a class="civicase__case-card__activity-count"
      ng-if="data.category_count.task.incomplete"
      ng-href="{{getActivityFeedUrl({ caseId: data.id, category: 'task', statusType: 'incomplete' })}}"
  > {{ data.category_count.task.incomplete }} </a>
  <span ng-if="data.category_count.task.incomplete && data.category_count.task.overdue" class="civicase__pipe"> | </span>
  <a class="civicase__case-card__activity-count civicase__overdue-activity-icon civicase__overdue-activity-icon--before"
      ng-if="data.category_count.task.overdue"
      ng-href="{{getActivityFeedUrl({ caseId: data.id, category: 'task', statusType: 'incomplete' })}}"
  > {{ data.category_count.task.overdue }} </a>
  <span
    ng-if="!data.category_count.task.incomplete && !data.category_count.task.overdue"
    class="civicase__case-card__activity-count civicase__case-card__activity-count--zero">
    0
  </span>
</div>
<!-- End Tasks -->

<!-- Communication -->
<div class="civicase__case-card__activity-count-container">
  <span>Comms: </span>
  <a class="civicase__case-card__activity-count"
    ng-if="data.category_count.communication.incomplete"
    ng-href="{{getActivityFeedUrl({ caseId: data.id, category: 'communication', statusType: 'incomplete' })}}"
  > {{ data.category_count.communication.incomplete }} </a>
  <span ng-if="data.category_count.communication.incomplete && data.category_count.communication.overdue" class="civicase__pipe"> | </span>
  <a class="civicase__case-card__activity-count civicase__overdue-activity-icon civicase__overdue-activity-icon--before"
    ng-if="data.category_count.communication.overdue"
    ng-href="{{getActivityFeedUrl({ caseId: data.id, category: 'communication', statusType: 'incomplete' })}}"
  > {{ data.category_count.communication.overdue }} </a>
  <span
    ng-if="!data.category_count.communication.incomplete && !data.category_count.communication.overdue"
    class="civicase__case-card__activity-count civicase__case-card__activity-count--zero">
    0
  </span>
</div>
<!-- End Communication -->

<!-- Others -->
<div class="civicase__case-card__activity-count-container">
  <span>Other: </span>
  <a class="civicase__case-card__activity-count"
    ng-if="data.category_count.other.incomplete"
    ng-href="{{getActivityFeedUrl({ caseId: data.id, category: otherCategories, statusType: 'incomplete' })}}"
  > {{ data.category_count.other.incomplete }} </a>
  <span ng-if="data.category_count.other.incomplete && data.category_count.other.overdue" class="civicase__pipe"> | </span>
  <a class="civicase__case-card__activity-count civicase__overdue-activity-icon civicase__overdue-activity-icon--before"
    ng-if="data.category_count.other.overdue"
    ng-href="{{getActivityFeedUrl({ caseId: data.id, category: otherCategories, statusType: 'incomplete' })}}"
  > {{ data.category_count.other.overdue }} </a>
  <span
    ng-if="!data.category_count.other.incomplete && !data.category_count.other.overdue"
    class="civicase__case-card__activity-count civicase__case-card__activity-count--zero">
    0
  </span>
</div>
<!-- Others -->

<!-- Tooltip -->
<span
  ng-if="tooltipEnabled"
  popover-class="civicase__case-activity-count__popover"
  uib-popover-template="'civicase__case-activity-count__popover_template'"
  popover-placement="top-right"
  popover-trigger="'mouseenter'">
  <span>...</span>
</span>

<script id="civicase__case-activity-count__popover_template" type="text/ng-template">
  <span ng-bind-html="dynamicTooltipContent"><span>
</script>
<!-- End Tooltip -->
