<div class="panel panel-default civicase__activity-feed">
  <div
    civicase-activity-filters="filters" case-timelines="caseTimelines"
    display-options="displayOptions" show-checkboxes="showCheckboxes" feed-params="params"
    displayed-count="activities.length" total-count="totalCount" bulk-allowed="bulkAllowed"
    selected-activities="selectedActivities">
  </div>

  <civicase-bulk-actions-message
    selected-items="selectedActivities.length" total-count="totalCount"
    is-select-all-available="true" show-checkboxes="showCheckboxes">
  </civicase-bulk-actions-message>

  <div class="panel-body clearfix">
    <div crm-ui-debug="activities"></div>
    <div class="civicase__activity-feed__body">
      <div class="civicase__activity-feed__body__list">
        <div
          class="panel panel-default civicase__panel-transparent-header"
          ng-if="activityGroup.activities.length" ng-repeat="activityGroup in activityGroups">
          <div class="panel-heading">
            <h3
              ng-class="{
                'civicase__overdue-activity-icon civicase__overdue-activity-icon--before': activityGroup.key === 'overdue'
              }"
              class="panel-title">{{ activityGroup.title }}</h3>
          </div>
          <div class="panel-body">
            <div
              class="civicase__activity-feed__list civicase__animated-checkbox-card"
              ng-class="{
                'active': activity.id === viewingActivity.id,
                'civicase__animated-checkbox-card--expanded': showCheckboxes && bulkAllowed
              }"
              ng-repeat="activity in activityGroup.activities">
              <span
                class="civicase__checkbox civicase__checkbox--bulk-action"
                role="checkbox"
                tabindex="0"
                aria-labelledby="Select/Unselect"
                ng-click="toggleSelected(activity); $event.stopPropagation();">
                <i
                  ng-if="findActivityById(selectedActivities, activity.id)"
                  class="civicase__checkbox--checked material-icons">
                  check_box
                </i>
              </span>
              <div
                ng-class="{'civicase__activity-feed__list__vertical_bar': $index< activityGroup.activities.length - 1 && activity.source_contact_id}"
                class="civicase__activity-feed__list-item">
                <span
                  ng-if="activity.source_contact_id" civicase-contact-card avatar="true"
                  contacts="activity.source_contact_id">
                </span>
                <div class="civicase__activity-feed__activity-container">
                  <div
                    case-activity-card="activity"
                    mode="long"
                    refresh-on-checkbox-toggle="true"
                    bulk-allowed="bulkAllowed"
                    custom-click-event="true"
                    refresh-callback="refreshAll">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Pager -->
        <div class="text-center civicase__activity-feed-pager">
          <div class="civicase__activity-feed-pager__no-more" ng-if="!remaining">
            <button class="btn btn-default" disabled>
              {{ remaining === false ? ts('None Found') : ts('Showing all %1', {1: totalCount}) }}
            </button>
          </div>
          <div class="civicase__activity-feed-pager__more" ng-if="remaining && remaining !== true">
            <button
              class="btn btn-primary" ng-click="nextPage()"
              title="{{ ts('Click for more') }}">&nbsp; LOAD MORE &nbsp;
            </button>
          </div>
        </div>
        <!-- End - Pager -->
      </div>
      <!-- activity details -->
      <div
        civicase-activity-details-affix
        class="civicase__activity-feed__body__details"
        civicase-activity-panel="viewingActivity"
        refresh-callback="refreshAll"
        ng-if="viewingActivity.id">
      </div>
      <!-- end activity details -->
      <div civicase-activity-month-nav></div>
    </div>

    <!-- placeholder -->
    <div class="civicase__activity-feed__placeholder" ng-if="isLoading">
      <div
        class="panel panel-default civicase__panel-transparent-header">
        <div class="panel-heading">
          <h3><div class="civicase__loading-placeholder__oneline" style="width: 12em;"></div></h3>
        </div>
        <div class="panel-body">
          <div class="civicase__activity-feed__list">
            <div class="civicase__activity-feed__list-item">
              <div class="civicase__activity-feed__activity-container">
                <div class="civicase__activity-card civicase__activity-card--long" ng-repeat="i in [0,1,2,3,4]">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <div class="civicase__activity-card-row" style="margin-bottom: 8px;">
                        <div
                          class="civicase__loading-placeholder__oneline"
                          style="width: 0.8em; font-size: 24px; margin-right: 10px;">
                        </div>
                        <div class="civicase__loading-placeholder__oneline" style="width: 8em; font-size: 18px;"></div>
                        <div
                          class="civicase__activity__right-container civicase__loading-placeholder__oneline"
                          style="width: 7em;">
                        </div>
                      </div>
                      <div
                        class="civicase__activity-card-row--file civicase__loading-placeholder__oneline"
                        style="width: 8em; margin-bottom: 10px;">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end placeholder -->
  </div>
</div>
