<span class="civicase__activity-title-tooltip">
  <span
    ng-if="!tooltipEnabled">
    <span ng-include="'activity-title.html'"></span>
  </span>

  <div
    ng-if="tooltipEnabled"
    uib-popover="{{getTitleToolTip()}}"
    popover-placement="bottom"
    popover-class="civicase__activity-title-popup"
    popover-trigger="'mouseenter'">
    <span ng-include="'activity-title.html'"></span>
  </div>
</span>

<script type="text/ng-template" id="activity-title.html">
  <span
    ng-if="!isFileUploadTypeActivity"
    class="civicase__activity-type"
    ng-class="{'civicase__activity-type--completed': (activity.category.indexOf('task') > -1 && activity.is_completed)}">
    {{ activity.type }}
  </span>
  <span
    class="civicase__activity-subject civicase__activity-subject--title"
    ng-if="isFileUploadTypeActivity">
    {{ activity.subject || activity.type }}
  </span>
</script>
