/* stylelint-disable selector-max-id */
.page-civicrm-case-a { 
  #page { 
    margin: 0;
    padding-top: 0;
  }

  .page-title {
    // styles for `element-invisible`
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
  }

  #branding {
    padding: 16px 0 !important;

    .breadcrumb {
      left: 0;
      line-height: 18px;
      padding: 0 20px;
      top: 0;

      > a { /* stylelint-disable selector-max-compound-selectors */
        left: 0;
      }
    }
  }  
}
