/* stylelint-disable selector-max-id */
.page-civicrm-case-a {
  #page {
    margin: 0;
    padding-top: 0;
  }

  .page-title {
    @extend %element-invisible;
  }

  #branding {
    padding: 16px 0 !important;

    .breadcrumb {
      left: 0;
      line-height: 18px;
      padding: 0 20px;
      top: 0;

      > a { /* stylelint-disable selector-max-compound-selectors */
        left: 0;
      }
    }
  }
}

#{$outside-namespace-marker} {
  #civicaseActivitiesTab {
    // to maximise area for activity feed
    margin-left: -10px;
    margin-right: -10px;

    .civicase__activity-feed {
      > .panel-body {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .civicase__activity-filter {
      padding: 16px 0;

      &.affix {
        width: calc(100% - 240px);
      }
    }
  }

  .page-civicrm-contact-view:not([class*='page-civicrm-contact-view-']) #crm-container {
    .civicase__activity-panel__core_container {
      .crm-submit-buttons {
        margin-bottom: 0 !important;
      }
    }
  }
}
