<div
  class="panel panel-default panel-strip-primary civicase__case-card civicase__animated-checkbox-card"
  ng-style="{'border-left-color': data.color}"
  ng-class="{
    'civicase__case-card--active': $parent.viewingCase === data.id,
    'civicase__case-card--closed': data.status === 'Resolved',
    'civicase__animated-checkbox-card--expanded': $parent.showCheckboxes && !$parent.viewingCase && $parent.bulkAllowed}"
  >
  <div class="panel-body">
    <span
      class="civicase__checkbox civicase__checkbox--bulk-action"
      ng-if="!$parent.viewingCase && $parent.selectedCases && $parent.bulkAllowed"
      role="checkbox"
      tabindex="0"
      aria-labelledby="Select/Unselect"
      ng-click="toggleSelected(); $event.stopPropagation();">
      <i ng-if="data.selected" class="civicase__checkbox--checked material-icons">check_box</i>
    </span>
    <div contact-card class="civicase__case-card__contact" contacts="data.client"></div>
    <div class="civicase__case-card__additional-information">
      <span class="civicase__case-card__case-id">
        Case ID: {{ data.id }}
      </span>
      <i class="material-icons civicase__case-card__lock" ng-if="data.lock">lock</i>
    </div>
    <div class="civicase__case-card__type">{{ data.case_type }}</div>
    <div class="civicase__case-card__next-milestone" ng-if="data.activity_summary.milestone.length > 0">
      <span>Next Milestone: </span>
      <a class="civicase__case-card__next-milestone-date"
         ng-class="{'civicase__overdue-activity-icon': data.activity_summary.milestone[0].is_overdue}"
         ng-href="#{{ activityFeedUrl(data.id, 'milestone', 'incomplete', null, data.activity_summary.milestone[0].id) }}"
         title="{{data.activity_summary.milestone[0].subject || data.activity_summary.milestone[0].type;}}"
      >{{ formatDate(data.activity_summary.milestone[0].activity_date_time, 'DD/MM/YYYY') }} </a>
    </div>
    <div class="civicase__case-card__activity-info">
      <div class="civicase__case-card__activity-count-container">
        <span>Tasks: </span>
        <a class="civicase__case-card__activity-count"
           ng-if="data.category_count.incomplete.task"
           ng-href="#{{ activityFeedUrl(data.id, 'task', 'incomplete') }}"
        > {{ data.category_count.incomplete.task }} </a>
        <span ng-if="data.category_count.incomplete.task && data.category_count.overdue.task" class="civicase__pipe"> | </span>
        <a class="civicase__case-card__activity-count civicase__overdue-activity-icon civicase__overdue-activity-icon--before"
           ng-if="data.category_count.overdue.task"
           ng-href="#{{ activityFeedUrl(data.id, 'task', 'incomplete') }}"
        > {{ data.category_count.overdue.task }} </a>
        <span ng-if="!data.category_count.incomplete.task && !data.category_count.overdue.task" class="civicase__case-card__activity-count civicase__case-card__activity-count--zero">0</span>
      </div>
      <div class="civicase__case-card__activity-count-container">
        <span>Comms: </span>
        <a class="civicase__case-card__activity-count"
           ng-if="data.category_count.incomplete.communication"
           ng-href="#{{ activityFeedUrl(data.id, 'communication', 'incomplete') }}"
        > {{ data.category_count.incomplete.communication }} </a>
        <span ng-if="data.category_count.incomplete.communication && data.category_count.overdue.communication" class="civicase__pipe"> | </span>
        <a class="civicase__case-card__activity-count civicase__overdue-activity-icon civicase__overdue-activity-icon--before"
           ng-if="data.category_count.overdue.communication"
           ng-href="#{{ activityFeedUrl(data.id, 'communication', 'incomplete') }}"
        > {{ data.category_count.overdue.communication }} </a>
        <span ng-if="!data.category_count.incomplete.communication && !data.category_count.overdue.communication" class="civicase__case-card__activity-count civicase__case-card__activity-count--zero">0</span>
      </div>
      <div class="civicase__case-card__activity-count-container">
        <span>Other: </span>
        <a class="civicase__case-card__activity-count"
           ng-if="data.category_count.incomplete.other"
           ng-href="#{{ activityFeedUrl(data.id, otherCategories, 'incomplete') }}"
        > {{ data.category_count.incomplete.other }} </a>
        <span ng-if="data.category_count.incomplete.other && data.category_count.overdue.other" class="civicase__pipe"> | </span>
        <a class="civicase__case-card__activity-count civicase__overdue-activity-icon civicase__overdue-activity-icon--before"
           ng-if="data.category_count.overdue.other"
           ng-href="#{{ activityFeedUrl(data.id, otherCategories, 'incomplete') }}"
        > {{ data.category_count.overdue.other }} </a>
        <span ng-if="!data.category_count.incomplete.other && !data.category_count.overdue.other" class="civicase__case-card__activity-count civicase__case-card__activity-count--zero">0</span>
      </div>
    </div>
    <div class="civicase__case-card__tags-container" ng-if="data.tag_id">
      <span
        class="civicase__case-card__tag badge"
        title="{{ tag['tag_id.description'] }}"
        ng-repeat="tag in data.tag_id || []"
        ng-class="{'text-dark': CRM.utils.colorContrast(tag['tag_id.color'] || '#cccccc') === 'black'}"
        style="background-color: {{ tag['tag_id.color'] }};"
      >{{ tag['tag_id.name'] }}</span>
    </div>
  </div>
</div>
