.civicase__no-result-icon {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 48px;
  width: 48px;
}

.civicase__no-result-icon--milestone {
  background-image: url('../icons/milestone.svg');
}

.civicase__no-result-icon--activity {
  background-image: url('../icons/activities.svg');
}
