.civicase__activity-panel {
  margin-top: 37px;
  width: 484px;

  .panel {
    overflow: auto;
    width: 484px;

    &.affix {
      position: fixed !important;
    }
  }

  .panel-body {
    padding: 0;
  }

  .panel-subtitle {
    color: $gray-darker;
    display: flex;
    font-size: $font-size-h3;
    font-weight: $font-weight-heading;
    line-height: 25px;
  }

  .civicase__activity__right-container {
    .civicase__activity-date {
      font-size: $font-size-base;
      font-weight: $font-weight-content;
      position: relative;
      top: 2px;
    }

    .civicase__activity-star {
      position: relative;
      top: 2px;
    }

    .civicase__contact-additional__container--avatar {
      margin-top: 0;
    }
  }
}

.civicase__activity-panel__close,
.civicase__activity-panel__maximise {
  color: $gray-darker;
  font-size: $font-size-h2;
  padding: 0;
}

.civicase__activity-panel__maximise {
  margin-right: 5px;
  transform: rotate(45deg);
}

.civicase__activity-panel__status-dropdown {
  margin-right: 5px;

  .list-group-item-info {
    color: $crm-gray-matte;
    display: block;
    padding: $crm-dropdown-item-padding;
  }
}

.civicase__activity-panel__priority-dropdown {
  margin-right: 15px;

  .list-group-item-info {
    color: $crm-gray-matte;
    display: block;
    padding: $crm-dropdown-item-padding;
  }
}

.civicase__activity-panel__id {
  line-height: 33px;
}

.civicase__activity-panel__core_container {
  min-height: 200px;

  /* stylelint-disable max-nesting-depth, selector-max-compound-selectors */
  .help {
    display: none;
  }

  .form-layout,
  .crm-accordion-body {
    tbody {
      td:nth-child(2) {
        > * {
          margin-bottom: 10px !important;
        }

        .crm-form-checkbox,
        .crm-form-radio {
          margin-right: 5px;
          position: relative;
          top: 2px;
        }
      }
    }
  }

  .crm-info-panel,
  .form-layout,
  .crm-accordion-body {
    box-shadow: none;

    tbody {
      > tr {
        border: 0;

        .label {
          padding-left: 15px !important;
        }
      }
    }

    .label {
      &,
      label {
        color: $crm-gray-matte !important;
        font-weight: $font-weight-content !important;
      }
    }

    .section-shown {
      padding: 0;
    }
  }

  .crm-button_qf_Activity_cancel {
    display: none;
  }

  .crm-submit-buttons {
    border-bottom: 0 !important;
    height: auto !important;
    margin: 0;
    padding: 20px !important;

    .edit {
      @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
    }

    .delete {
      @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);

      background-color: $brand-danger !important;
    }
  }
  /* stylelint-enable max-nesting-depth */
}
