.civicase__activity-feed {
  .panel-body {
    background: transparent;
  }

  .civicase__panel-transparent-header {
    width: 748px;

    > .panel-body {
      background: transparent;
      border-top: 0;
      box-shadow: none;
      padding: 0;
    }

    .panel-title.civicase__overdue-activity-icon--before {
      color: $gray-darker !important;
      padding-left: 35px;

      &::before,
      &::after {
        font-size: 14px;
        height: 20px;
        line-height: 20px;
        top: 8px;
        width: 20px;
      }
    }
  }

  .civicase__activity-card {
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 668px;
  }

  .civicase__activity-card--ribbon {
    width: 100%;
  }
}
