.civicase__activity-month-nav {
  height: 400px;
  width: 120px;
}

.civicase__activity-month-nav__group {
  border-left: 2px solid $activity-month-nav-divider;
  overflow: auto;

  [class^='civicase__activity-month-nav__group-'] {
    padding-left: 15px;
  }

  &:first-child {
    .civicase__activity-month-nav__group-title {
      margin-top: 0;
    }
  }
}

.civicase__activity-month-nav__group-title {
  color: $gray-darker;
  font-weight: $crm-font-weight-h5;
  margin-top: 10px;
  text-transform: uppercase;
}

.civicase__activity-month-nav__group-year {
  color: $gray-darker;
  margin-bottom: 10px;
}

.civicase__activity-month-nav__group-month {
  color: $crm-gray-matte;
  font-weight: $font-weight-heading;
}
