.civicase__activity-feed {
  box-shadow: none;

  .panel-body {
    background: transparent;
    border-top: 0 !important;
  }

  .civicase__panel-transparent-header {
    margin: auto;
    width: 830px;

    > .panel-body {
      background: transparent;
      border-top: 0;
      box-shadow: none;
      padding: 0;
    }

    .panel-title.civicase__overdue-activity-icon--before {
      color: $gray-darker !important;
      padding-left: 35px;

      &::before,
      &::after {
        font-size: 14px;
        height: 20px;
        line-height: 20px;
        top: 8px;
        width: 20px;
      }
    }
  }
}

.civicase__activity-feed__activity-container {
  display: inline-block;
  width: 785px;
}

.civicase__activity-feed__list {
  position: relative;

  &:not(:last-child) {
    &::before {
      background-color: $crm-grayblue-darker;
      bottom: 1px;
      content: '';
      left: 16px;
      position: absolute;
      top: 45px;
      width: 8px;
      z-index: 1;
    }
  }

  > .civicase__contact-card {
    display: inline-block;
    margin-top: 2px;
    position: relative;
    vertical-align: top;
    z-index: 2;

    .civicase__contact-avatar {
      height: 40px;
      line-height: 30px;
      width: 40px;
    }

    .civicase__contact-avatar--image img { /* stylelint-disable selector-max-compound-selectors */
      height: 40px;
      width: 40px;
    }
  }

  .civicase__activity-card {
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 668px;
  }

  .civicase__activity-card--ribbon {
    width: 748px;
  }
}

.civicase__activity-feed-pager__no-more {
  > .btn {
    background: transparent;
    border: 0;
    font-weight: $font-weight-heading;
    margin-top: 70px;
  }
}
