.civicase__activity-type-popup {
  border: 1px solid $gray-light;
  border-radius: 2px;
  box-shadow: $box-shadow-tooltip;
  padding: 0;
  z-index: 5;

  .arrow {
    border-bottom-color: $gray-light;

    &.left {
      left: 20px;
    }
  }
}
