.civicase__activity-card--big {
  display: flex;
  height: auto;
  min-height: 264px;
  width: 100%;

  &:hover {
    .civicase__highlighted-date::before {
      border-bottom-color: $gray-lighter;
      border-right-color: $gray-lighter;
    }
  }

  .panel-body {
    padding: 25px !important;
  }

  .civicase__activity-card-left {
    left: 16px;
    position: absolute;
    top: 24px;
    z-index: 1;

    + .civicase__activity-card-inner {
      padding-left: 36px;
    }
  }

  .civicase__activity-type {
    flex: 1 0 0;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
  }

  .civicase__activity-date {
    color: $gray-dark;
    margin-right: 3px;
  }

  .civicase__checkbox {
    margin-left: 10px;
  }

  .civicase__contact-additional__container--avatar {
    margin-left: 5px;
    margin-top: 1px;
  }

  .civicase__contact-avatar {
    margin-top: 0;
  }

  .civicase__activity-card-row {
    align-items: flex-start;
  }

  .civicase__activity-icon-container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    width: 40px;

    .civicase__activity-icon-ribbon {
      border-bottom-width: 10px;
      border-left-width: 20px;
      border-right-width: 20px;
      height: 64px;
      left: 0;
    }

    .civicase__activity-icon {
      font-size: 22px;
      left: 0;
      top: 16px;
    }
  }

  .civicase__activity__tags-container {
    margin-bottom: 10px;
  }

  .civicase__activity-subject {
    color: $crm-gray-matte;
    font-size: 13px;
    font-weight: $font-weight-content;
    line-height: 18px;
    margin-bottom: 25px;
  }

  .civicase__activity-attachment__container,
  .civicase__activity-star__container {
    position: relative;
  }

  .civicase__activity-attachment__container {
    margin-left: 3px;
    top: 2px;
  }

  .civicase__activity-star__container {
    margin-left: 1px;
    top: 4px;
  }

  &.civicase__activity-card--big--milestone {
    .civicase__activity-card-inner {
      padding-left: 50px;
      padding-right: 230px;
    }

    .civicase__activity-type {
      flex: 1 0 0;
      font-size: 20px;
      line-height: 27px;
    }

    .civicase__activity-attachment__container,
    .civicase__activity-star__container {
      margin-left: 3px;
      top: 4px;
    }

    .civicase__activity-card-left {
      left: 10px;
      position: absolute;
      top: 0;
    }
  }
}

/* Empty state styles */
.civicase__activity-card--big--empty {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 215px;
  text-align: center;
  width: 100%;

  &.civicase__activity-card--big--empty--list-view {
    border: 1px solid $crm-grayblue-dark;
    border-radius: 2px;
    min-height: 265px;
  }
}



.civicase__activity-card--big--empty-title {
  font-size: 20px;
  font-weight: $font-weight-heading;
  line-height: 27px;
  margin: 15px 0 5px;
}

.civicase__activity-card--big--empty-description {
  color: $crm-gray-matte;
  margin-bottom: 20px;
}

.civicase__activity-card--big--empty-button {
  border-color: $brand-primary !important;
  font-size: $font-size-base;
  font-weight: $crm-font-weight-h3;
  line-height: $font-size-h2;
  padding: 10px 16px;


  .material-icons {
    color: $brand-primary;
    margin-right: 8px;
    position: relative;
    top: 2px;
  }

  i:nth-last-child(1) {
    margin-left: 8px;
  }

  &:hover,
  &:hover .material-icons {
    background-color: $brand-primary;
    color: $crm-white;
  }
}
