/** Big calendar type date styling **/
.civicase__big-date {
  background: $brand-primary;
  border-radius: 10px;
  display: inline-block;
  padding: 48px 24px 26px;
  position: absolute;
  right: 0;
  top: 0;

  &::after {
    background: $gray-lighter;
    border-radius: 100%;
    box-shadow: 121px 0 0 0 $gray-lighter;
    content: '';
    height: 16px;
    left: 40px;
    position: absolute;
    top: 15px;
    width: 16px;
  }

  &::before {
    border-bottom: 24px solid $crm-white;
    border-left: 24px solid darken($brand-primary, 7%);
    border-right: 24px solid $crm-white;
    border-top: 24px solid darken($brand-primary, 7%);
    border-top-left-radius: 10px;
    bottom: 0;
    content: '';
    height: 0;
    position: absolute;
    right: 0;
    width: 0;
  }
}

.civicase__big-date--overdue {
  background: $brand-danger;

  &::before {
    border-left: 24px solid darken($brand-danger, 7%);
    border-top: 24px solid darken($brand-danger, 7%);
  }  
}

.civicase__big-date__inner {
  align-items: center;
  background: $gray-lighter;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  font-weight: $crm-font-weight-heading;
  height: 142px;
  justify-content: center;
  width: 165px;
}

.civicase__big-date__due-on {
  color: $calendar-due-text-color;
}

.civicase__big-date__ddmm {
  color: $gray-darker;
  font-size: 32px;
  line-height: 43px;
  margin: 5px 0;
}

.civicase__big-date__yyyy {
  color: $gray-darker;
  font-size: 16px;
  line-height: 22px;
}
