.civicase__add-btn {
  font-weight: $font-weight-heading;
  line-height: 18px;
  padding: 8px 18px;

  &::before {
    background: $crm-white;
    border-radius: 100%;
    color: $brand-primary;
    content: '+';
    display: inline-block;
    font-size: 11px;
    font-size: 13px;
    height: 13px;
    line-height: 13px;
    margin-right: 5px;
    width: 13px;
  }
}
