.civicase__case-body {
  padding: 0;

  .tab-content {
    background: transparent;
    position: relative;
    z-index: 0; // fixes the stacking context of this element and its children.
  }
}

.civicase__case-body_tab {
  z-index: 1;

  &.affix {
    top: 0;
    z-index: 11;

    + .tab-content {
      padding-top: 50px;
    }
  }

  > [civicase-dropdown] {
    opacity: 1;
  }
}

.civicase__case-details-panel--summary {
  .civicase__case-body_tab.affix {
    width: calc(100% - #{$case-card-width});
  }
}

.civicase__case-details-panel--focused {
  .civicase__case-body_tab.affix {
    width: 100%;
  }
}

// Override specific to the next milestone card and next activity card
@media (min-width: 1200px) and (max-width: 1549px) {
  .civicase__case-details-panel--summary:not(.civicase__case-details-panel--focused) {
    .civicase__summary-tab-tile--big-card.col-lg-6 {
      width: 100%;
    }

    .civicase__summary-tab-tile--small-card.col-lg-3 {
      width: 50%;
    }
  }
}
