.civicase__case-list-view {
  width: calc(100% - #{$case-card-width});

  .case-is-focused { // TO do - to be changed into BEM whent this is being worked upon
    padding-left: 40px;
    width: 100%;

    .civicase-view-tab-bar.affix {
      width: 1160px;
    }    
  }

  .civicase-view-tab-bar.affix {
    width: 890px;
  }  
}
