.civicase__case-body {
  padding: 0;

  .tab-content {
    background: transparent;
  }
}

.civicase__case-body_tab {
  z-index: 1;

  &.affix {
    z-index: 11;

    + .tab-content {
      padding-top: 50px;
    }
  }
}

.civicase__case-details-panel--summary {
  .civicase__case-body_tab.affix {
    width: calc(100% - #{$case-card-width});
  }
}

.civicase__case-details-panel--focused {
  .civicase__case-body_tab.affix {
    width: 100%;
  }
}

.civicase__summary-tab__basic-details {
  background: $crm-white;

  .panel-body {
    display: flex;
    flex-direction: row;
    padding: 32px 48px;
  }
}

.civicase__summary-tab__subject-container {
  flex-basis: 50%;
  padding-right: 48px;
}

.civicase__summary-tab__subject {
  font-size: 20px;
  font-weight: $font-weight-heading;
  line-height: 27px;
  margin: 0 0 13px;
}

.civicase__summary-tab__description {
  color: $crm-gray-matte;
  line-height: 18px;
}

.civicase__summary-tab__last-updated {
  color: $crm-gray-matte;
  line-height: 18px;
}

.civicase__summary-activity-count {
  align-items: center;
  border-left: 1px solid $gray-light;
  color: $gray-darker;
  display: flex;
  flex-basis: 16.6%;
  flex-direction: column;
  font-weight: $font-weight-heading;
  justify-content: center;
  text-align: center;

  &:hover {
    color: $gray-darker;
    text-decoration: none;
  }

  > div:nth-child(1) {
    font-size: 56px;
    line-height: 76px;
  }

  > div:nth-child(2) {
    color: $crm-gray-matte;
    font-size: 16px;
    line-height: 22px;
  }
}

.civicase__summary-overdue-count {
  line-height: 18px;
}

.civicase__summary-tab-tile {
  padding: 14px;
}

.civicase__summary-tab-row {
  padding: 14px;  
}
