.civicase__case-list-status {
  line-height: 18px;
  padding: 0 10px;
}

.civicase__case-list-table__header {
  &.affix {
    display: block;
    left: 0;
    margin-left: 310px;
    overflow-x: hidden;
    overflow-y: visible;
    right: 0;
    top: 60px;
    z-index: 9999;

    tr {
      display: table;
      width: 100%;    
    }

    th {
      border-bottom: 1px solid $gray-light;
      display: table-cell;
    }      
  }
}


.civicase__case-list-panel:not(.civicase__case-list-panel--case-detail) {
  .civicase__case-list-panel__inner {
    background: $crm-white;
    position: relative;
  }

  .civicase__case-list {
    border-left: 1px solid $gray-light;
    margin-left: 310px;
    overflow-x: auto;
    overflow-y: visible;
  }

  .civicase__case-list-table {
    table-layout: inherit;

    th {
      font-size: 13px;
      line-height: 18px;
      min-width: 142px;
      padding: 22px 15px;
    }

    th:first-child {
      background: $gray-lighter;
      height: 61px;
      left: 0;
      position: absolute;
      width: 310px;
    }

    th:nth-child(2) {
      max-width: 370px;
      min-width: 370px;
      position: relative;
    }

    td {
      border-bottom: 1px solid $gray-light;
      height: 150px;
      min-width: 142px;
      padding: 20px;

      &:first-child {
        background: $crm-white;
        left: 0;
        padding: 10px 20px;
        position: absolute;
        width: 310px;
      }

      &:nth-child(2) {
        vertical-align: middle;
      }
    }

    &:not(.case-placeholder-row) {
      td:first-child:hover {
        background: $case-card-hover;
      }
    }

    .case-activity-card-wrapper {
      max-width: 370px;
      min-width: 370px;
      position: relative;
    }
  }

  .civicase__case-list-table__header.affix {
    th:nth-child(1) {
      left: 0;
      position: fixed;
    }
  } 
}
