.civicase__contact-card {
  color: $brand-primary;
  display: flex;
  vertical-align: middle;
}

.civicase__contact-name {
  margin-left: 5px;
}

.civicase__contact-icon {
  color: $crm-gray-matte;
  font-size: 18px;
  margin-top: 2px;
}
