.civicase__contact-card {
  color: $brand-primary;
  display: flex;
}

.civicase__contact-name-container {
  display: flex;
}

.civicase__contact-name {
  color: inherit;
  margin-left: 5px;
  max-width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.civicase__contact-icon,
.civicase__contact-icon-additional {
  color: $crm-grayblue-darker;
  font-size: 18px;
  margin-top: 2px;
}

.civicase__contact-additional__container {
  color: $brand-primary;
  cursor: pointer;
  margin-left: 8px;

  a {
    display: flex !important;
  }

  .dropdown-menu {
    display: block;
    left: 50%;
    max-height: 200px;
    overflow: auto;
    top: calc(100% + 5px);
    transform: translateX(-50%);
  }

  .civicase__contact-icon {
    font-size: 18px;
  }

  .civicase__contact-name {
    color: $brand-primary;
  }
}

.civicase__contact-avatar {
  background: $contact-avatar-background;
  padding: 5px;
}

.civicase__contact-additional__container--avatar {
  background: $contact-avatar-background;
  margin-left: 0;
  margin-top: -10px;
  opacity: 1 !important;
  padding: 5px;
}

.civicase__contact-avatar--image {
  background: none;
  padding: 0;

  img {
    border-radius: 2px;
    height: 25px;
    width: 25px;
  }
}

.civicase__contact-additional__arrow {
  position: relative;
  top: 6px;

  &::after {
    border: 7px solid $crm-black;
    border-color: transparent transparent $crm-white $crm-white;
    bottom: -2em;
    box-shadow: -2px 2px 3px 0 rgba(48, 40, 40, 0.1);
    box-sizing: border-box;
    content: '';
    height: 0;
    left: 50%;
    margin-left: -77px;
    position: absolute;
    transform: rotate(-225deg);
    transform-origin: 46px 13px;
    width: 0;
    z-index: 1000000;
  }
}

.civicase__contact-additional__arrow--avatar {
  top: 10px;
}
