.civicase__dashboard {
  .tab-pane {
    padding: 0;
  }
}

.civicase__dashboard__tab-container {
  .nav {
    width: 100%;
    z-index: 10;
  }
}

.civicase__dashboard-activites-feed {
  background: $gray-light;
}

.civicase__dashboard__add-case {
  border: 1px solid $crm-white;
  border-radius: 2px;
  line-height: 20px;
  margin-right: 15px;
  margin-top: 7px;
  padding: 6px 16px;

  .material-icons {
    font-size: 16px;
    margin-right: 5px;
    position: relative;
    top: 2px;
  }
}

.civicase__dashboard__relation-filter {
  display: inline-block;
  margin-right: 10px;
  margin-top: 7px;
  width: 190px;

  .select2-choice {
    color: $crm-gray-matte;
    padding: 7px 10px;

    .select2-arrow {
      top: 4px;
    }
  }
}
