/**
 * @file
 * File contains variables used for the app (e.g. path variables and color variables etc.)
 */

// Material icons related variables
$material-icon-font-name: 'Material Icons';
$material-icon-font-url: '../fonts/material-design-icons/';

// Shoreditch Colors
$crm-gray-clay:             #222831 !default;
$crm-gray-bright:           #393e46 !default;
$gray-darker:               #464354 !default;
$gray-dark:                 #4d4d69 !default;
$gray-light:                #e8eef0 !default;
$gray-lighter:              #f3f6f7 !default;
$crm-gray-lightest:         #fafafb !default;
$crm-gray-matte:            #9494a5 !default;

$brand-primary:             #0071bd !default;
$brand-success:             #44cb7e !default;
$brand-info:                #0071bd !default;
$brand-warning:             #e6ab5e !default;
$brand-danger:              #cf3458 !default;

$crm-grayblue-dark:         #d3dee2 !default;
$crm-grayblue-darker:       #c2cfd8 !default;
$crm-white:                 #fff !default;
$crm-black:                 #000 !default;

//== Dropdowns
//
//## Dropdown menu container and contents.

$dropdown-link-hover-bg:    $gray-lighter !default;
$dropdown-header-color:     $gray-darker !default;

$crm-dropdown-container-padding: 4px 0 9px 0;
$crm-dropdown-item-padding:      7px 19px 7px 24px;
$crm-dropdown-divider-margin:    7px 0;


// Custom
$box-shadow-activity-card: 0 1px 4px 0 rgba(49, 40, 40, 0.2);
$box-shadow-checkbox: 0 6px 20px 0 rgba(49, 40, 40, 0.03);
$box-shadow-block: 0 3px 8px 0 rgba(49, 40, 40, 0.15);

$contact-avatar-background: #99c6e5;
$case-card-hover: #d9edf7;
$calendar-due-text-color: #a9a9b7;
$activity-no-result-icon-color: #cde1ed;
$placeholder-grey: #edf3f5;

// Font weights
$font-weight-heading:   600 !default;
$font-weight-content:   400 !default;

//Widths and other sizes
$case-card-width: 400px;
$contact-popover-width: 708px;
