/**
 * @file
 * File contains variables used for the app (e.g. path variables and color variables etc.)
 */

// Material icons related variables
$material-icon-font-name: 'Material Icons';
$material-icon-font-url: '../resources/fonts/material-design-icons/';

//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.
$state-success-border:           $brand-success !default;
$state-info-border:              $brand-info !default;
$state-warning-border:           $brand-warning !default;
$state-danger-border:            $brand-danger !default;


$alert-success-bg:               lighten($brand-success, $crm-lighten-percentage) !default;
$alert-info-bg:                  lighten($brand-info, $crm-lighten-percentage) !default;
$alert-warning-bg:               lighten($brand-warning, $crm-lighten-percentage) !default;
$alert-danger-bg:                lighten($brand-danger, $crm-lighten-percentage) !default;

$alert-success-text:             $gray-darker !default;
$alert-info-text:                $gray-darker !default;
$alert-warning-text:             $gray-darker !default;
$alert-danger-text:              $gray-darker !default;

//== Dropdowns
//
//## Dropdown menu container and contents.

$dropdown-link-hover-bg:    $gray-lighter !default;
$dropdown-header-color:     $gray-darker !default;

$crm-dropdown-container-padding: 4px 0 9px 0;
$crm-dropdown-item-padding:      7px 19px 7px 24px;
$crm-dropdown-divider-margin:    7px 0;


// Custom
$box-shadow-activity-card: 0 1px 4px 0 rgba(49, 40, 40, 0.2);
$box-shadow-checkbox: 0 6px 20px 0 rgba(49, 40, 40, 0.03);
$box-shadow-block: 0 3px 8px 0 rgba(49, 40, 40, 0.15);
$box-shadow-pane: 0 3px 8px 0 rgba(49, 40, 40, 0.25);

$activities-calendar-active-day-background: #cde1ed;
$contact-avatar-background: #99c6e5;
$case-card-hover: #d9edf7;
$calendar-due-text-color: #a9a9b7;
$placeholder-grey: #edf3f5;


// Font weights
$font-weight-heading:   600 !default;
$font-weight-content:   400 !default;

//Widths and other sizes
$activity-card-short-width: 280px;
$case-card-width: 400px;
$contact-popover-width: 708px;
