<span
  ng-if="!tooltipEnabled"
  class="civicase__activity-type"
  ng-class="{'civicase__activity-type--completed': (activity.category.indexOf('task') > -1 && activity.is_completed)}">
  {{ activity.type }}
</span>
<div
  ng-if="tooltipEnabled"
  uib-popover="{{activity.type}}"
  popover-placement="bottom"
  popover-class = "civicase__activity-type-popup"
  popover-trigger="'mouseenter'">
  <span
    class="civicase__activity-type"
    ng-class="{'civicase__activity-type--completed': (activity.category.indexOf('task') > -1 && activity.is_completed)}">
    {{ activity.type }}
  </span>
</div>
