<div class="panel-heading clearfix">
  <h3 class="panel-title pull-left">{{ ts('Recent Communications') }}</h3>
  <a class="pull-right"
     ng-href="#{{ activityFeedUrl(item.id, 'communication', 'completed') }}"
     ng-if="item.category_count.completed.communication"
     title="{{ ts('View All') }}"
  >{{ ts('View All') }}</a>
</div>
<div class="panel-body">
  <div
    ng-repeat="activity in item.recentCommunication"
    ng-if="item.recentCommunication.length"
    case-activity-card="activity"
    crm-popup-form-success="pushCaseData($data.civicase_reload[0])"
    refresh-callback="refresh"
    bulk-allowed="bulkAllowed"
    mode="long"
    type="'activity'">
  </div>
  <div ng-if="item.recentCommunication.length === 0" class="civicase__activity-card--big--empty civicase__activity-card--big--empty--list-view">
    <div class="civicase__activity-no-result-icon civicase__activity-no-result-icon--communications"></div>
    <div class="civicase__activity-card--big--empty-title"> No past communications </div>
    <div class="civicase__activity-card--big--empty-description"> Click on the button below to add a communication to this case </div>
    <span civicase-dropdown>
      <div class="civicase__activity-card--big--empty-button btn"
        civicase-dropdown-toggle>
        <i class="material-icons">add_circle</i>Create new communication <i class="fa fa-caret-down"></i>
      </div>
      <civicase-add-activity-menu
        case="item"
        filter-activities-by="communication"
        crm-popup-form-success="pushCaseData($data.civicase_reload[0])">
      </civicase-add-activity-menu>
    </span>
  </div>
</div>
