<div crm-ui-debug="activities"></div>
<div class="act-feed-view-activity" civicase-activity-view="viewingActivity" refresh-callback="refreshAll" ng-class="{'cc-zero-w': !viewingActivity.id, 'cc-zero-h': !viewingActivity.id}"></div>
<ul class="list-group act-feed-list-group activity-timeline" ng-class="{'viewing-activity': viewingActivity.id}">
  <li class="list-group-item act-list-controls" ng-include="'~/civicase/ActivityControls.html'"></li>
  <li class="list-group-item activity-group-{{ activityGroup.key }}" ng-if="activityGroup.activities.length" ng-repeat="activityGroup in activityGroups">
    <h3>{{ activityGroup.title }}</h3>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="dateGroup in activityGroup.activities">
        <h4 class="act-date">
          {{ CRM.utils.formatDate(dateGroup.date) }}
        </h4>
        <ul class="list-group">
          <li
            ng-repeat="activity in dateGroup.activities"
            ng-include="'~/civicase/ActivityListItem.html'"
            class="list-group-item act-category-{{ activity.category.join(' act-category-') || 'none' }} {{ activity.is_completed ? 'is-completed' : 'is-incomplete' }}"
          >
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="list-group-item act-list-pager text-center" ng-include="'~/civicase/Pager.html'"></li>
</ul>