<div id="bootstrap-theme">
  <form class="form-horizontal">
    <div class="form-group">
      <div ng-repeat="tag in model.genericTags">
        <input
          type="checkbox" value="{{tag.name}}"
          ng-click="model.toggleGenericTags(model, tag.id)"/>
        <label>{{tag.name}}</label>
      </div>
      {{model.selectedGenericTags}}
    </div>
    <div ng-repeat="tag in model.tagSets" class="form-group">
      <label>{{tag.name}}</label>
      <input
        placeholder="{{ tag.name }}"
        ng-model="tag.selectedTags"
        crm-ui-select="{allowClear: true, multiple: true, data: tag.children}"/>
        {{tag.selectedTags}}
    </div>
  </form>
</div>
