<div crm-ui-debug="activities"></div>
<div id="bootstrap-theme">

  <div class="panel panel-default" >
    <div class="panel-body">
      <div class="list-group">
        <a href="#" class="list-group-item cb-activity-feed-item" ng-repeat="activity in activities" ng-click="">
          <div class="cb-dot" title="{{ activity['activity_type_id.label'] }} ({{ activity['status_id.label'] }})">
            <i class="fa {{ activity['activity_type_id.icon'] }}"></i>
          </div>
          <h4>
            <span class="act-subject" ng-if="activity.subject">{{ activity.subject }}</span>
            <span class="act-subject" ng-if="!activity.subject">{{ activity['activity_type_id.label'] }}</span>
            <span class="act-star">
              <i class="crm-i fa-star-o"></i>
            </span>
          </h4>
          <div class="act-details" ng-bind-html="activity.details">
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
