<form class="form-inline">
  <div class="btn-group btn-group-sm">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gear"></i> <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
      <li>
        <span>
          <input type="checkbox" id="act_control_followup_nested" ng-model="displayOptions.followup_nested" />
          <label for="act_control_followup_nested">{{ ts('Nested followup activities') }}</label>
        </span>
      </li>
      <li>
        <span>
          <input type="checkbox" id="act_control_overdue_first" ng-model="displayOptions.overdue_first" />
          <label for="act_control_overdue_first">{{ ts('Show overdue activities first') }}</label>
        </span>
      </li>
    </ul>
  </div>
  <div class="btn-group btn-group-sm" data-toggle="buttons">
    <label class="btn btn-default" title="{{ ts('Show only activities created by, involving or assigned to me') }}" ng-click="involving.myActivities = !involving.myActivities">
      <input type="checkbox" autocomplete="off" />
      {{ ts('My Activities') }}
    </label>
    <label class="btn btn-default" title="{{ ts('Show only activities assigned to someone other than me') }}" ng-click="involving.delegated = !involving.delegated">
      <input type="checkbox" autocomplete="off" />
      {{ ts('Delegated') }}
    </label>
  </div>
  <div class="btn-toolbar pull-right">
    <div class="btn-group btn-group-sm">
      <select class="form-control" ng-model="filters['activity_type_id.grouping']">
        <option value="">{{ ts('Category: All') }}</option>
        <option ng-repeat="(value, item) in activityCategories" value="{{ value }}">{{ item.label }}</option>
      </select>
    </div>
    <div class="btn-group btn-group-sm">
      <button class="btn btn-default" ng-click="filters.is_star = filters.is_star ? null : '1'" title="{{ ts('Show only starred items') }}">
        <i class="fa fa-star{{ filters.is_star ? '' : '-o' }}"></i>
      </button>
    </div>
  </div>
</form>