<div class="civicase__activity-card civicase__activity-card--big" ng-click="viewInPopup($event, activity)" ng-class="{'civicase__activity-card--big--milestone' :activity.category.indexOf('milestone') > -1}">

  <span ng-if="activity.icon" activity-icon="activity"></span>
  <!-- Activity Body -->
  <div ng-if="activity" class="civicase__activity-card-inner">
    <!-- Top section -->
    <div class="civicase__activity-card-row">
      <span class="civicase__activity-title">{{ activity.type }}</span>
      <span ng-if="activity.assignee_contact_name" contact-card avatar="true" contacts="activity.assignee_contact_name"></span>
      <div ng-include="'~/civicase/ActivityCard--Menu.html'"></div>
    </div>
    <!-- End - top section -->
    <div class="civicase__activity-date" ng-if="activity.category.indexOf('milestone') == -1">{{formatDate(activity.activity_date_time, 'DD MMM YYYY') }}</div>
    <!-- Description -->
    <div class="civicase__activity-subject">{{ activity.subject }}</div>
    <!-- End - description -->
    <!-- Tags -->
    <div class="civicase__activity__tags-container" ng-if="activity.tag_id">
      <span
        class="badge"
        title="{{ tag['tag_id.description'] }}"
        ng-repeat="tag in activity.tag_id || []"
        style="background-color: {{ tag['tag_id.color'] }};"
      >{{ tag['tag_id.name'] }}</span>
    </div>    
    <!-- End - Tags -->
    <!-- With -->
    <div class="civicase__activity-card-row">
      <span class="civicase__activity-with">With:&nbsp;</span>
      <span class="civicase__contact-card" contact-card contacts="activity.target_contact_name"></span>
    </div>
    <!-- End - With --> 
    <!-- Big Date -->
    <div ng-if="activity.category.indexOf('milestone') > -1" class="civicase__highlighted-date" ng-class="{'civicase__highlighted-date--overdue': isOverdue(activity.activity_date_time)}">
      <div class="civicase__highlighted-date__inner">
        <span class="civicase__highlighted-date__due-on"> Due on </span>
        <span class="civicase__highlighted-date__ddmm"> {{formatDate(activity.activity_date_time, 'DD MMM') }} </span>
        <span class="civicase__highlighted-date__yyyy"> {{formatDate(activity.activity_date_time, 'YYYY') }} </span>
      </div>
    </div>
    <!-- End Big Date -->
  </div>
  <!-- Activity Body -->

  <!-- No result behaviour -->
  <div ng-if="!activity" class="civicase__activity-card--big--empty">
    <div ng-if="type === 'milestone'" class="civicase__no-result-icon civicase__no-result-icon--milestone"></div>
    <div ng-if="type === 'activity'" class="civicase__no-result-icon civicase__no-result-icon--activity"></div>
    <div class="civicase__activity-card--big--empty-title" ng-if="type === 'milestone'"> No upcoming milestones </div>
    <div class="civicase__activity-card--big--empty-title" ng-if="type === 'activity'"> No upcoming activities </div>
    <div class="civicase__activity-card--big--empty-description" ng-if="type === 'milestone'"> Click on the button below to add a milestone to this case </div>
    <div class="civicase__activity-card--big--empty-description" ng-if="type === 'activity'"> Click the button below to add an activity </div>
    <div class="civicase__activity-card--big--empty-button btn" ng-if="type === 'milestone'"> ADD MILESTONE </div>
    <div class="civicase__activity-card--big--empty-button btn" ng-if="type === 'activity'"> ADD ACTIVITY </div>
  </div>
  <!-- End of no result behaviour -->
</div>
