<div class="civicase-view-summary crm-entity" data-entity="Case" data-id="{{ item.id }}">
  <div class="row civicase-summary-top-outer">
    <div class="civicase-case-subject col-md-6">
      <p crm-editable="item" data-field="subject" data-type="textarea" crm-form-success="onChangeSubject($data)"></p>
      <div class="case-custom-data-first" data-onload="customGroup = item.customData[0]" ng-if="item.customData.length" ng-include="'~/civicase/CaseViewCustomData.html'"></div>
    </div>
    <div class="col-md-3">
      <div class="civicase-next-milestone civicase-activity-stamp" ng-class="{'civicase-stamp-overdue': isActivityOverdue(item.activity_summary.milestone[0])}">
        <h3>
          {{ ts('Next Milestone') }}
        </h3>
        <div ng-if="item.activity_summary.milestone.length" class="act-feed-item">
          <div class="act-feed-inner">
            <div civicase-activity-dot="item.activity_summary.milestone[0]"></div>
            <div><strong>{{ item.activity_summary.milestone[0].type }}</strong></div>
            <div>{{ CRM.utils.formatDate(item.activity_summary.milestone[0].activity_date_time) }}</div>
            <div class="act-contacts-target" ng-if="item.activity_summary.milestone[0].target_contact_name">
              <strong>{{ ts('With') }}</strong>
              <span civicase-activity-contacts="{activity: item.activity_summary.milestone[0], type: 'target'}"></span>
            </div>
            <div class="act-contacts-assignee" ng-if="item.activity_summary.milestone[0].assignee_contact_name">
              <strong>{{ ts('Assigned to') }}</strong>
              <span civicase-activity-contacts="{activity: item.activity_summary.milestone[0], type: 'assignee'}"></span>
            </div>
          </div>
          <div class="btn-group-sm text-center">
            <a class="btn btn-default crm-popup"
              href="{{ CRM.url('civicrm/case/activity', {action: 'update', reset: 1, cid: item.client[0].contact_id, caseid: item.id, id: item.activity_summary.milestone[0].id, civicase_reload: caseGetParams()}) }}"
              crm-popup-form-success="pushCaseData($data.civicase_reload[0])"
            >
              <i class="fa fa-pencil"></i> {{ ts('Edit') }}
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="civicase-next-task civicase-activity-stamp" ng-class="{'civicase-stamp-overdue': isActivityOverdue(item.tasks[0])}">
        <h3>
          {{ ts('Next task') }}
        </h3>
        <div ng-if="item.tasks.length" class="act-feed-item">
          <div class="act-feed-inner">
            <div civicase-activity-dot="item.tasks[0]"></div>
            <div><strong>{{ item.tasks[0].type }}</strong></div>
            <div>{{ CRM.utils.formatDate(item.tasks[0].activity_date_time) }}</div>
            <div class="act-contacts-target" ng-if="item.tasks[0].target_contact_name">
              <strong>{{ ts('With') }}</strong>
              <span civicase-activity-contacts="{activity: item.tasks[0], type: 'target'}"></span>
            </div>
            <div class="act-contacts-assignee" ng-if="item.tasks[0].assignee_contact_name">
              <strong>{{ ts('Assigned to') }}</strong>
              <span civicase-activity-contacts="{activity: item.tasks[0], type: 'assignee'}"></span>
            </div>
          </div>
          <div class="btn-group-sm text-center">
            <a class="btn btn-default crm-popup"
               href="{{ CRM.url('civicrm/case/activity', {action: 'update', reset: 1, cid: item.client[0].contact_id, caseid: item.id, id: item.tasks[0].id, civicase_reload: caseGetParams()}) }}"
               crm-popup-form-success="pushCaseData($data.civicase_reload[0])"
            >
              <i class="fa fa-pencil"></i> {{ ts('Edit') }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-if="item.customData.length > 1">
    <div class="col-md-6 case-custom-data-below" ng-repeat="(index, customGroup) in item.customData" ng-if="index" ng-include="'~/civicase/CaseViewCustomData.html'"></div>
  </div>
  <div class="civicase-summary-mid row">
    <div class="col-md-6">
      <div ng-include="'~/civicase/CaseViewTasks.html'"></div>
    </div>
    <div class="col-md-6">
      <div ng-include="'~/civicase/CaseViewCommunicationRecent.html'"></div>
    </div>
  </div>
  <div class="row" ng-include="'~/civicase/CaseViewRelatedCases.html'" ng-if="item.relatedCases.length"></div>
</div>