<!-- To do: Use variables and add functionality in the updated HTML.
<div ng-if="!bulkAllowed" class="lockDiv">
  <div class="fa fa-lock"></div>
</div>
<div class="case-list-checkbox" ng-if="!viewingCase && selectedCases && bulkAllowed">
  <input type="checkbox" ng-model="item.selected" />
  <label></label>
</div>
<div class="case-list-info">
  <h4>{{ item.client[0].display_name }}</h4>
  <div class="btn-group btn-group-sm" ng-if="item.client.length > 1">
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{ ts('Additional clients') }}">
      +{{ item.client.length - 1 }}
    </button>
    <ul class="dropdown-menu" >
      <li ng-repeat="(index, client) in item.client" ng-if="index">
        <span>{{ client.display_name }}</span>
      </li>
    </ul>
  </div>
  <div ng-if="item.client[0].email">
    <strong>{{ ts('Email:') }}</strong>
    {{ item.client[0].email }}
  </div>
  <div ng-if="item.client[0].phone">
    <strong>{{ ts('Phone:') }}</strong>
    {{ item.client[0].phone }}
  </div>
  <div>
    <strong>{{ ts('Case ID:') }}</strong>
    {{ item.id }} &nbsp;
    <span class="civicase-tags">
      <span
        class="label label-default"
        title="{{ tag['tag_id.description'] }}"
        ng-repeat="tag in item.tag_id || []"
        ng-class="{'text-dark': CRM.utils.colorContrast(tag['tag_id.color'] || '#cccccc') === 'black'}"
        style="background-color: {{ tag['tag_id.color'] }};"
      >{{ tag['tag_id.name'] }}</span>
    </span>
  </div>
  <div class="case-activity-summary-icons" ng-if="bulkAllowed">
    <a class=""
       ng-repeat="category in activityCategories"
       ng-href="#{{ activityFeedUrl(item.id, category.name, 'incomplete') }}"
       ng-class="{'item-overdue': item.activity_summary[category.name][0].is_overdue}"
       ng-if="item.category_count.incomplete[category.name]"
       title="{{ ts('%1 upcoming %2', {1: item.category_count.incomplete[category.name], 2: category.label}) }}"
    >
      <i class="fa {{ category.icon }}"></i>
      <span class="badge noti-badge">{{ item.category_count.incomplete[category.name] }}</span>
    </a>
  </div>
</div>
 -->

 <div class="panel panel-default panel-strip-primary civicase__case-card civicase__animated-checkbox-card" ng-class="{'civicase__case-card--active': viewingCase === item.id}" >
  <div class="panel-body">
    <div class="civicase__checkbox">
      <!-- <i class="civicase__checkbox--checked material-icons">check_box</i> -->
    </div>  
    <div class="civicase__contact-card civicase__case-card__contact">
      <i class="civicase__contact-icon material-icons">person</i>
      <span class="civicase__contact-name">Bertie Gibbs</span>

      <div class="btn-group civicase__contact-additional__container">
        <span>+2</span>
        <div class="civicase__contact-additional__arrow"></div>
        <ul class="dropdown-menu">
          <li>
            <a href="#">
              <i class="civicase__contact-icon material-icons">person</i>
              <span class="civicase__contact-name">Andrew Burke</span>
            </a>
            <a href="#">
              <i class="civicase__contact-icon material-icons">person</i>
              <span class="civicase__contact-name">John Smith</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="civicase__case-card__case-id">Case ID: 23</div>
    <div class="civicase__case-card__type">Case type lorem ipsum</div>
    <div class="civicase__case-card__next-milestone">
      <span>Next Milestone: </span>
      <span class="civicase__case-card__next-milestone-date civicase__overdue-activity-icon">29/01/2019</span></div>
    <div class="civicase__case-card__activity-info">
      <div class="civicase__case-card__activity-count-container">
        <span>Tasks: </span>
        <span class="civicase__case-card__activity-count">2</span>
      </div>
      <div class="civicase__case-card__activity-count-container">
        <span>Comms: </span>
        <span class="civicase__case-card__activity-count civicase__case-card__activity-count--zero">0</span>
      </div>
      <div class="civicase__case-card__activity-count-container">
        <span>Other: </span>
        <span class="civicase__case-card__activity-count">1</span>
        <span class="civicase__pipe"> | </span>
        <span class="civicase__overdue-activity-icon civicase__overdue-activity-icon--count">3</span>
      </div>      
    </div>
    <div class="civicase__case-card__tags-container">
      <div class="civicase__case-card__tag badge">lorem</div>
      <div class="civicase__case-card__tag badge" style="background-color: #cf3458;">ipsum</div>
    </div>
  </div>
</div>
