<div class="panel-header">
  <form class="form-inline civicase-filters">
    <input class="form-control" crm-ui-select="{allowClear: true, multiple: true, placeholder: ts('Case Type: Any'), data: caseTypeOptions}" ng-model="filters.case_type_id" />
    <input class="form-control" crm-ui-select="{allowClear: true, multiple: true, placeholder: ts('Status: All open cases'), data: caseStatusOptions}" ng-model="filters.status_id" />
  </form>
</div>
<div class="civicase-filters-placeholder" ng-click="unfocusCase()">
  <i class="fa fa-angle-double-down" aria-hidden="true"></i>
  {{ ts('Filters') }}
  <i class="fa fa-angle-double-down" aria-hidden="true"></i>
</div>