<div class="panel panel-default civicase-view-tasks">
  <div class="panel-header">
    <h3>{{ ts('Tasks') }}</h3>
  </div>
  <div class="panel-body">
    <ul class="list-group act-feed-list-group">
      <li class="list-group-item act-category-task is-incomplete" ng-repeat="activity in item.activity_summary.task">
        <div class="act-feed-item" style="border-left-color: {{ activity.color }}; border-right-color: {{ activity.color }};" ng-click="viewActivity(activity.id, $event)" ng-class="{'act-is-viewing': activity.id === viewingActivity.id}">
          <div class="act-feed-inner">
            <div class="cb-dot" title="{{ activity.type }} ({{ activity.status }})" style="background-color: {{ activity.color }};">
              <i ng-if="activity.icon" class="fa {{ activity.icon }}"></i>
              <strong ng-if="!activity.icon">{{ activity.type[0] }}</strong>
            </div>
            <a href class="act-task-checkbox" ng-click="markCompleted(activity)" title="{{ ts('Mark complete') }}">
              <i class="fa" ng-class="{'fa-square-o': !activity.is_completed, 'fa-check-square-o': activity.is_completed}"></i>
            </a>
            <h4>
              <span class="act-subject" ng-if="activity.subject">{{ activity.subject }}</span>
              <span class="act-subject" ng-if="!activity.subject">{{ activity.type }}</span>
            </h4>
            <div class="clearfix">
              {{ CRM.utils.formatDate(activity.activity_date_time) }}
              <div class="pull-right" ng-if="activity.assignee_contact_name">
                <span ng-repeat="(cid, display_name) in activity.assignee_contact_name">
                  <a href="{{ CRM.url('civicrm/contact/view', {cid:cid}) }}">{{ display_name }}</a>
                  {{$last ? '' : ', '}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
