<div class="panel panel-default civicase-view-communication-recent">
  <div class="panel-header">
    <h3>{{ ts('Recent Communications') }}</h3>
  </div>
  <div class="panel-body">
    <ul class="list-group act-feed-list-group" >
      <li class="list-group-item act-category-communication {{ activity.is_completed ? 'is-completed' : 'is-incomplete' }}" ng-repeat="activity in item.recentCommunication">
        <div class="act-feed-item">
          <div class="act-feed-inner">
            <div civicase-activity-dot="activity"></div>
            <h4>
              <span class="act-subject" ng-if="activity.subject">{{ activity.subject }}</span>
              <span class="act-subject" ng-if="!activity.subject">{{ activity.type }}</span>
            </h4>
            <div class="act-contacts clearfix">
              <div class="act-contacts-target" ng-if="activity.target_contact_name">
                <strong>{{ ts('With:') }}</strong>
                <span ng-repeat="(cid, display_name) in activity.target_contact_name">
                  <a href="{{ CRM.url('civicrm/contact/view', {cid:cid}) }}">{{ display_name }}</a>
                  {{$last ? '' : ', '}}
                </span>
              </div>
              <div class="act-contacts-assignee" ng-if="activity.assignee_contact_name">
                <strong>{{ ts('Assigned to:') }}</strong>
                <span ng-repeat="(cid, display_name) in activity.assignee_contact_name">
                  <a href="{{ CRM.url('civicrm/contact/view', {cid:cid}) }}">{{ display_name }}</a>
                  {{$last ? '' : ', '}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
