<div crm-ui-debug="cases"></div>
<div crm-ui-debug="caseTypes"></div>
<div crm-ui-debug="caseStatuses"></div>
<div id="bootstrap-theme">

  <div class="panel panel-default case-list-panel">

    <table class="case-list-table">
      <thead>
        <tr>
          <th>
            <div class="case-list-checkbox">
              <input type="checkbox" ng-click="selectAll($event)" ng-checked="isSelection('all')" />
            </div>
            <div class="btn-group btn-group-sm">
              <button type="button" class="btn btn-default dropdown-toggle {{ isSelection('any') ? '' : 'disabled' }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ ts('Actions') }}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href>{{ ts('Add Role') }}</a></li>
                <li><a href>{{ ts('Reassign Cases') }}</a></li>
                <li><a href>{{ ts('Delete Cases') }}</a></li>
                <li class="{{ isSelection(2) ? '' : 'disabled' }}"><a href>{{ ts('Merge 2 Cases') }}</a></li>
              </ul>
            </div>
          </th>
          <th>{{ ts('Subject') }}</th>
          <th>{{ ts('Status') }}</th>
          <th>{{ ts('Type') }}</th>
          <th>{{ ts('My Role') }}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="case in cases">
          <td>
            <div class="case-list-checkbox">
              <input type="checkbox" ng-model="case.selected" />
            </div>
            <div>
              <h4>{{ case.client.sort_name }}</h4>
              <div ng-if="case.client.email">
                <strong>{{ ts('Email:') }}</strong>
                {{ case.client.email }}
              </div>
              <div ng-if="case.client.phone">
                <strong>{{ ts('Phone:') }}</strong>
                {{ case.client.phone }}
              </div>
              <div>
                <strong>{{ ts('Case ID:') }}</strong>
                {{ case.id }}
              </div>
            </div>
          </td>
          <td>{{ case.subject }}</td>
          <td>{{ case.status }}</td>
          <td>{{ case.case_type }}</td>
          <td>{{ case.myRole.join(', ') }}</td>
        </tr>
      </tbody>
    </table>
    <div class="text-center" ng-include="'~/civicase/Pager.html'"></div>
  </div>
</div>
