<div class="civicase__summary-tab crm-entity" data-entity="Case" data-id="{{ item.id }}">
  <!-- Subject and QuickLinks -->
  <div class="panel panel-default civicase__summary-tab__basic-details">
    <div class="panel-body">
      <div class="civicase__summary-tab__subject-container">
        <div class="civicase__summary-tab__subject">
          <p crm-editable="item" data-field="subject" data-type="textarea" data-placeholder="Click to add subject" crm-form-success="onChangeSubject($data)"></p>
        </div>
        <!-- <div class="civicase__summary-tab__description"> -->
          <!-- <p crm-editable="item" data-field="details" data-type="textarea" data-placeholder="This case doesn't currently have a description. Click here to add now"></p> -->
        <!-- </div> -->
        <div>
          <span class="civicase__summary-tab__last-updated">Case last updated: </span>
          <span>{{formatDate(item.modified_date, 'DD MMMM YYYY' )}}</span>
        </div>
      </div>
      <a class="civicase__summary-activity-count" ng-href="#{{ activityFeedUrl(item.id, 'task', 'incomplete') }}">
        <div>{{item.category_count.incomplete.task || 0}}</div>
        <div>Open Tasks</div>
        <div
          ng-class="{ 'invisible': !item.category_count.overdue.task }"
          class="text-danger civicase__summary-overdue-count">
          {{item.category_count.overdue.task}} overdue
        </div>
      </a>
      <a class="civicase__summary-activity-count" ng-href="#{{ activityFeedUrl(item.id, 'communication', 'incomplete') }}">
        <div>{{item.category_count.incomplete.communication ? item.category_count.incomplete.communication : 0}}</div>
        <div>Unread Comms</div>
        <div
          ng-class="{ 'invisible': !item.category_count.overdue.communication }"
          class="text-danger civicase__summary-overdue-count">
          {{item.category_count.overdue.communication}} overdue
        </div>
      </a>
      <a class="civicase__summary-activity-count" ng-href="#{{ activityFeedUrl(item.id, null, null, 'Scheduled') }}">
        <div>{{item.category_count.scheduled.count}}</div>
        <div>Scheduled Activities</div>
        <div
          ng-class="{ 'invisible': !item.category_count.scheduled.overdue }"
          class="text-danger civicase__summary-overdue-count">
          {{item.category_count.scheduled.overdue}} overdue
        </div>
      </a>
    </div>
  </div>
  <!-- End - Subject and QuickLinks -->
  <div class="civicase__summary-tab-row clearfix">
    <div class="civicase__summary-tab-tile col-lg-6 panel civicase__panel-transparent-header">
      <!-- next milestone card -->
      <div class="panel-title"> Next Milestone </div>
      <div class="civicase__activity-card civicase__activity-card--big panel-body">
        <!-- ActivityICon directive -->
        <span class="civicase__activity-icon-container civicase__activity-icon-container--ribbon">
          <span>
            <i class="text-danger civicase__activity-icon fa fa-bell"></i>
          </span>
          <!-- Activity Ribbon -->
          <span class="text-danger civicase__activity-icon-ribbon"></span>
        </span>
        <!-- ActivityICon directive End -->
        <!-- Activity Body -->
        <div class="civicase__activity-card-inner">
          <!-- Top section -->
          <div class="civicase__activity-card-row">
            <span class="civicase__activity-title">Mental evaluation lorem ipsum dolor sit enim</span>
            <span ng-if="item.activity_summary.milestone[0].assignee_contact_name" contact-card avatar="true" contacts="item.activity_summary.milestone[0].assignee_contact_name"></span>
            <div ng-include="'~/civicase/ActivityCard--Menu.html'"></div>
          </div>
          <!-- End - top section -->
            <!-- Description -->
          <div class="civicase__activity-subject">Subject ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam nim ipsam voluptatem quia voluptas sit aspernatur.</div>
          <!-- End - description -->
          <!-- Tags -->
          <div class="civicase__activity__tags-container">
            <span class="badge" style="background-color: red;">lorem</span>
            <span class="badge" style="background-color: red;">ipsum</span>
          </div>
          <!-- End - Tags -->
          <!-- With -->
          <div class="civicase__activity-card-row">
            <span class="civicase__activity-with">With:&nbsp;</span>
            <span class="civicase__contact-card" contact-card contacts="item.activity_summary.milestone[0].target_contact_name"></span>
          </div>
          <!-- End - With -->
          <!-- Big Date -->
          <div class="civicase__big-date civicase__big-date--overdue">
            <div class="civicase__big-date__inner">
              <span class="civicase__big-date__due-on"> Due on </span>
              <span class="civicase__big-date__ddmm"> 10 Feb </span>
              <span class="civicase__big-date__yyyy"> 2018 </span>
            </div>
          </div>
          <!-- End Big Date -->
        </div>
        <!-- End Activity Body -->
        <!-- No result behaviour -->
        <!-- <div class="civicase__activity-card--big--empty">
          <div class="civicase__activity-card--big--empty-icon civicase__activity-icon-container civicase__activity-icon-container--ribbon">
            <span>
              <i class="civicase__activity-icon fa fa-star"></i>
            </span>
            <span class="civicase__activity-icon-ribbon"></span>
          </div>
          <div class="civicase__activity-card--big--empty-title"> No upcoming milestones </div>
          <div class="civicase__activity-card--big--empty-description"> Click on the button below to add a milestone to this case </div>
          <div class="civicase__activity-card--big--empty-button btn"> ADD MILESTONE </div>
        </div> -->
      </div>
    </div>
    <div class="col-lg-3">
    </div>
    <div class="col-lg-3">
    </div>
  </div>
  <div ng-include="'~/civicase/CaseDetails--tabs--summary--CustomData.html'"></div>
</div>


<!-- <div class="civicase-view-summary crm-entity" data-entity="Case" data-id="{{ item.id }}">
  <div class="row civicase-summary-top-outer">
    <div class="civicase-case-subject col-md-6">
      <label class="civicase-case-subject-label">Subject: </label>
      <p crm-editable="item" data-field="subject" data-type="textarea" crm-form-success="onChangeSubject($data)"></p>
      <div class="case-custom-data-first" ng-repeat="(index, customGroup) in item.customData" ng-if="!index" ng-include="'~/civicase/CaseViewCustomData.html'"></div>
    </div>
    <div class="civicase-view-next-activities col-md-6">
      <div class="civicase-view-next-activities-inner">
        <ul class="list-group act-feed-list-group">
          <li class="list-group-item" ng-repeat="category in upNextCategories" ng-if="item.activity_summary[category.name].length">
            <h3>
              {{ ts('Next %1', {1: category.label}) }}
              <span class="badge badge-danger" ng-if="item.activity_summary[category.name][0].is_overdue">{{ ts('Overdue') }}</span>
            </h3>
            <div
              case-activity-card="item.activity_summary[category.name][0]"
              refresh-callback="refresh"
              crm-popup-form-success="pushCaseData($data.civicase_reload[0])"
              edit-activity-url="editActivityUrl"
            ></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row" ng-if="item.customData.length > 1">
    <div class="col-md-6 case-custom-data-below" ng-repeat="(index, customGroup) in item.customData" ng-if="index" ng-include="'~/civicase/CaseViewCustomData.html'"></div>
  </div>
  <div class="civicase-summary-mid row">
    <div class="col-md-6">
      <div ng-include="'~/civicase/CaseViewCommunicationRecent.html'"></div>
    </div>
    <div class="col-md-6">
      <div ng-include="'~/civicase/CaseViewTasks.html'"></div>
    </div>
  </div>

</div> -->
