<div crm-ui-debug="item"></div>
<div class="civicase-view-header">
  <div class="case-id pull-right">
    {{ ts('Case Id: %1', {1: item.id}) }}
  </div>
  <div class="case-action-menu pull-right">
    <div class="btn-group btn-group-sm">
      <button type="button" style="background-color: {{ caseStatuses[item.status_id].color }};" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{ ts('Change case status') }}">
        {{ item.status }}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" >
        <li>
          <span class="list-group-item-info">{{ ts("Change status to:") }}</span>
        </li>
        <li ng-repeat="(id, status) in allowedCaseStatuses" ng-if="id != item.status_id">
          <a crm-popup-form-success="pushCaseData($data.civicase_reload[0])" class="crm-popup" href="{{ CRM.url('civicrm/case/activity', {action: 'add', reset: 1, cid: item.client[0].contact_id, caseid: item.id, atype: getActivityType('Change Case Status'), case_status_id: id, civicase_reload: caseGetParams()}) }}">{{ status.label }}</a>
        </li>
      </ul>
    </div>
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-bars"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" civicase-actions="[item]" refresh-callback="refresh" popup-params="caseGetParams" crm-popup-form-success="pushCaseData($data.civicase_reload[0])"></ul>
    </div>
  </div>
  <h2>
    <i ng-if="item.is_deleted" class="crm-i fa-trash" title="{{ ts('Case is in Trash') }}"></i>
    {{ item.client[0].display_name }}
    <span ng-if="item.client.length === 2"> &amp; {{ item.client[1].display_name }}</span>
    <div class="btn-group btn-group-sm" ng-if="item.client.length > 2">
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{ ts('Additional clients') }}">
        {{ ts('%1 Others', {1: item.client.length - 1}) }}
      </button>
      <ul class="dropdown-menu" >
        <li ng-repeat="(index, client) in item.client" ng-if="index">
          <span>{{ client.display_name }}</span>
        </li>
      </ul>
    </div>
  </h2>
  <div class="civicase-dates">
    <span class="case-start-date">{{ CRM.utils.formatDate(item.start_date) || '. . .' }}</span> -
    <span class="case-end-date" ng-if="item.end_date">{{ CRM.utils.formatDate(item.end_date) }}</span>
    <span class="case-end-date" ng-if="!item.end_date">{{ ts('Ongoing') }}</span>
  </div>
  <div class="civicase-tags">
    <span
      class="label label-default"
      ng-repeat="tag in item.tag_id || []"
      style="background-color: {{ tag['tag_id.color'] }};"
      title="{{ tag['tag_id.description'] }}"
    >
      {{ tag['tag_id.name'] }}
    </span>
  </div>
  <div class="civicase-type-and-manager">
    <div class="civicase-manager pull-right"><strong>{{ ts('Manager:') }}</strong> {{ item.manager.display_name }}</div>
    <strong class="civicase-type">{{ item.case_type }}</strong>
  </div>
</div>