<div class="civicase-view-communication-recent">
  <h3>{{ ts('Recent Communications') }}</h3>
  <div class="activity-timeline">
    <ul class="list-group act-feed-list-group" ng-if="item.recentCommunication.length">
      <li class="list-group-item act-category-communication {{ activity.is_completed ? 'is-completed' : 'is-incomplete' }}" ng-repeat="activity in item.recentCommunication">
        <h4 class="act-date" ng-if="!isSameDate(activity.activity_date_time, item.recentCommunication[$index-1].activity_date_time)">
          {{ CRM.utils.formatDate(activity.activity_date_time) }}
        </h4>
        <div class="act-feed-item">
          <div class="act-feed-inner">
            <div civicase-activity-dot="activity"></div>
            <h4>
              <span class="act-subject" ng-if="activity.subject">{{ activity.subject }}</span>
              <span class="act-subject" ng-if="!activity.subject">{{ activity.type }}</span>
            </h4>
            <div class="act-contacts clearfix">
              <div class="act-contacts-target" ng-if="activity.target_contact_name">
                <strong>{{ ts('With') }}</strong>
                <span civicase-activity-contacts="{activity: activity, type: 'target'}"></span>
              </div>
              <div class="act-contacts-assignee" ng-if="activity.assignee_contact_name">
                <strong>{{ ts('Assigned to') }}</strong>
                <span civicase-activity-contacts="{activity: activity, type: 'assignee'}"></span>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="civicase-panel-empty" ng-if="!item.recentCommunication.length">
      {{ ts('No completed communications.') }}
    </div>
  </div>
</div>
