<div class="panel-header">
  <div class="civicase__case-header">
    <button class="civicase__case-header__expand_button">
      <i class="material-icons">keyboard_arrow_right</i>
    </button>
    <div class="civicase__case-header__content">
      <div class="civicase__case-header__content__first-row">
        <span class="civicase__loading-placeholder__oneline" style="width: 15em;"></span>
      </div>
      <div class="civicase__loading-placeholder__oneline" style="width: 12em; margin-top: 8px;"></div>
      <div class="civicase__loading-placeholder__oneline" style="width: 20em; margin-top: 10px;"></div>
      <span class="pull-right civicase__loading-placeholder__oneline" style="width: 10em; margin-top: -45px;"></span>
      <span class="pull-right civicase__loading-placeholder__oneline" style="width: 12em; margin-top: -14px;"></span>
    </div>
  </div>
</div>

<div class="panel-body civicase__case-body">
  <nav class="navbar nav-pills-horizontal-primary"></nav>
  <div class="civicase__summary-tab" ng-show="!activeTab || activeTab === 'summary'">
    <!-- Subject and QuickLinks -->
    <div class="panel panel-default civicase__summary-tab__basic-details">
      <div class="panel-body">
        <div class="civicase__summary-tab__subject-container">
          <div class="civicase__loading-placeholder__oneline" style="width: 12em;"></div>
          <div class="civicase__loading-placeholder__oneline" style="width: 18em; margin-top: 8px;"></div>
          <div class="civicase__loading-placeholder__oneline" style="width: 8em; margin-top: 8px;"></div>
        </div>
        <div class="civicase__summary-activity-count">
          <div class="civicase__loading-placeholder__oneline" style="width: 1em;"></div>
        </div>
        <div class="civicase__summary-activity-count">
          <div class="civicase__loading-placeholder__oneline" style="width: 1em;"></div>
        </div>
        <div class="civicase__summary-activity-count">
          <div class="civicase__loading-placeholder__oneline" style="width: 1em;"></div>
        </div>
      </div>
    </div>
    <!-- End - Subject and QuickLinks -->

    <div class="civicase__summary-tab-tile-container">
      <!-- Next Milestone -->
      <div class="civicase__summary-tab-tile panel civicase__panel-transparent-header civicase__summary-tab-tile--responsive">
        <!-- next milestone card -->
        <div class="civicase__loading-placeholder__oneline" style="width: 12em; margin-bottom: 10px;"></div>
        <div class="panel-body">
          <div class="civicase__activity-card civicase__activity-card--big">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="civicase__activity-card-row civicase__activity-card-row--first clearfix">
                  <span class="civicase__activity-icon-container civicase__activity-icon-container--ribbon pull-left">
                    <!-- Activity Ribbon -->
                    <span class="civicase__loading-placeholder__oneline" style="width: 0.85em;font-size: 60px;position: absolute;top: 0;left: 10px;"></span>
                  </span>
                  <div class="civicase__activity__right-container pull-right" style="height: 30px;">
                    <span class="civicase__loading-placeholder__oneline" style="width: 6em; font-size: 20px;"></span>
                  </div>
                </div>
                <div class="civicase__activity-card-inner">
                  <div>
                    <div class="civicase__loading-placeholder__oneline" style="width: 60%; font-size: 20px;"></div>
                  </div>
                  <div class="civicase__loading-placeholder__oneline" style="width: 50%; margin-top: 8px;"></div>
                  <div class="civicase__activity-big-subject" style="margin-top: 20px;">
                    <div class="civicase__loading-placeholder__oneline" style="width: 90%; margin-top: 8px;"></div>
                    <div class="civicase__loading-placeholder__oneline" style="width: 90%; margin-top: 8px;"></div>
                  </div>
                  <div class="civicase__loading-placeholder__oneline civicase__activity__tags-container" style="width: 70%; margin-top: 25px;"></div>
                  <div class="civicase__loading-placeholder__oneline" style="width: 50%; margin-top: 10px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Next Milestone -->
      <!-- Next Activity -->
      <div class="civicase__summary-tab-tile panel civicase__panel-transparent-header civicase__summary-tab-tile--responsive">
        <!-- next milestone card -->
        <div class="civicase__loading-placeholder__oneline" style="width: 10em; margin-bottom: 10px;"></div>
        <div class="panel-body">
          <div class="civicase__activity-card civicase__activity-card--big civicase__activity-card">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="civicase__activity-card-row civicase__activity-card-row--first clearfix">
                  <span class="civicase__activity-icon-container civicase__activity-icon-container--ribbon pull-left">
                    <!-- Activity Ribbon -->
                    <span class="civicase__loading-placeholder__oneline" style="width: 1em; font-size: 30px;"></span>
                  </span>
                  <div class="civicase__activity__right-container pull-right" style="height: 30px;">
                    <span class="civicase__loading-placeholder__oneline" style="width: 6em; font-size: 20px;"></span>
                  </div>
                </div>
                <div class="civicase__activity-card-inner">
                  <div>
                    <div class="civicase__loading-placeholder__oneline" style="width: 60%; font-size: 20px;"></div>
                  </div>
                  <div class="civicase__loading-placeholder__oneline" style="width: 50%; margin-top: 8px;"></div>
                  <div class="civicase__activity-big-subject" style="margin-top: 20px;">
                    <div class="civicase__loading-placeholder__oneline" style="width: 90%; margin-top: 8px;"></div>
                    <div class="civicase__loading-placeholder__oneline" style="width: 90%; margin-top: 8px;"></div>
                  </div>
                  <div class="civicase__loading-placeholder__oneline civicase__activity__tags-container" style="width: 70%; margin-top: 25px;"></div>
                  <div class="civicase__loading-placeholder__oneline" style="width: 50%; margin-top: 10px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Next Activity -->
      <!-- Calendar -->
      <civicase-activities-calendar-placeholder></civicase-activities-calendar-placeholder>
      <!-- End - Calendar-->
    </div>
    <div>
      <div class="clearfix civicase__summary-tab-tile-container">
        <!-- Recent Communications -->
        <div class="civicase__summary-tab-tile civicase__summary-tab__activity-list col-lg-6 col-md-12 panel civicase__panel-transparent-header">
          <div class="panel-heading clearfix">
            <div class="civicase__loading-placeholder__oneline pull-left" style="width: 14em; margin-bottom: 10px;"></div>
            <div class="civicase__loading-placeholder__oneline pull-right" style="width: 4em; margin-bottom: 10px;"></div>
          </div>
          <div class="panel-body">
            <div class="civicase__activity-card civicase__activity-card--long" ng-repeat="i in [0,1,2,3,4]">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="civicase__activity-card-row" style="margin-bottom: 8px;">
                    <div class="civicase__loading-placeholder__oneline" style="width: 0.8em; font-size: 24px; margin-right: 10px;"></div>
                    <div class="civicase__loading-placeholder__oneline" style="width: 8em; font-size: 18px;"></div>
                    <div class="civicase__activity__right-container civicase__loading-placeholder__oneline" style="width: 7em;"></div>
                  </div>
                  <div class="civicase__activity-card-row--file civicase__loading-placeholder__oneline" style="width: 8em; margin-bottom: 10px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Recent Communications -->
        <!-- Tasks -->
        <div class="civicase__summary-tab-tile civicase__summary-tab__activity-list col-lg-6 col-md-12 panel civicase__panel-transparent-header">
          <div class="panel-heading clearfix">
            <div class="civicase__loading-placeholder__oneline pull-left" style="width: 8em; margin-bottom: 10px;"></div>
            <div class="civicase__loading-placeholder__oneline pull-right" style="width: 4em; margin-bottom: 10px;"></div>
          </div>
          <div class="panel-body">
            <div class="civicase__activity-card civicase__activity-card--long" ng-repeat="i in [0,1,2,3,4]">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="civicase__activity-card-row" style="margin-bottom: 8px;">
                    <div class="civicase__loading-placeholder__oneline" style="width: 0.8em; font-size: 24px; margin-right: 10px;"></div>
                    <div class="civicase__loading-placeholder__oneline" style="width: 8em; font-size: 18px;"></div>
                    <div class="civicase__activity__right-container civicase__loading-placeholder__oneline" style="width: 7em;"></div>
                  </div>
                  <div class="civicase__activity-card-row--file civicase__loading-placeholder__oneline" style="width: 8em; margin-bottom: 10px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End of Tasks -->
      </div>
    </div>
  </div>
  <div class="civicase__case-tab--activity" ng-show="activeTab === 'activities'">
    <div class="panel panel-default civicase__activity-feed">
      <div class="panel-header civicase__activity-filter">
        <div class="civicase__loading-placeholder__oneline pull-left" style="width: 1em; font-size: 30px;"></div>
        <div class="civicase__loading-placeholder__oneline pull-left" style="width: 1em; font-size: 30px; margin-left: 10px;"></div>
        <div class="civicase__loading-placeholder__oneline pull-left" style="  width: 4em; font-size: 30px; margin-left: 10px;"></div>
        <div class="civicase__loading-placeholder__oneline pull-right" style="width: 12em; font-size: 30px;"></div>
      </div>

      <div class="panel-body clearfix">
        <div class="civicase__activity-feed__placeholder">
          <div
            class="panel panel-default civicase__panel-transparent-header">
            <div class="panel-heading">
              <h3><div class="civicase__loading-placeholder__oneline" style="width: 12em;"></div></h3>
            </div>
            <div class="panel-body">
              <div class="civicase__activity-feed__list">
                <div class="civicase__activity-feed__list-item">
                  <div class="civicase__activity-feed__activity-container">
                    <div class="civicase__activity-card civicase__activity-card--long" ng-repeat="i in [0,1,2,3,4]">
                      <div class="panel panel-default">
                        <div class="panel-body">
                          <div class="civicase__activity-card-row" style="margin-bottom: 8px;">
                            <div class="civicase__loading-placeholder__oneline" style="width: 0.8em; font-size: 24px; margin-right: 10px;"></div>
                            <div class="civicase__loading-placeholder__oneline" style="width: 8em; font-size: 18px;"></div>
                            <div class="civicase__activity__right-container civicase__loading-placeholder__oneline" style="width: 7em;"></div>
                          </div>
                          <div class="civicase__activity-card-row--file civicase__loading-placeholder__oneline" style="width: 8em; margin-bottom: 10px;"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="civicase__case-tab--files" ng-show="activeTab === 'files'">
    <div class="panel panel-default civicase__panel-transparent-header">
      <div class="panel-body">
        <div class="clearfix civicase__file-upload-container">
          <div class="civicase__file-upload-item civicase__file-upload-box pull-left">
            <div class="civicase__file-upload-dropzone">
              <div class="civicase__loading-placeholder__oneline" style="width: 1em; font-size: 36px;  margin-bottom: 18px;"></div>
              <div class="civicase__loading-placeholder__oneline" style="width: 5em;  font-size: 14px; margin-bottom: 5px;"></div>
              <div class="civicase__loading-placeholder__oneline" style="width: 10em;  margin-bottom: 5px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="civicase__file-tab-actions">
      <div class="civicase__file-tab-filters">
        <form class="form-inline civicase__file-filters-container">
          <div class="civicase__file-filters civicase__loading-placeholder__oneline" style="font-size: 30px;"></div>
          <div class="civicase__file-filters civicase__loading-placeholder__oneline" style="font-size: 30px; width: 6em;"></div>
          <div class="civicase__file-filters civicase__loading-placeholder__oneline" style="font-size: 30px; width: 6em;"></div>
        </form>
      </div>
    </div>
    <div>
      <div class="civicase__activity-feed__list">
        <div class="civicase__activity-feed__list-item">
          <div class="civicase__activity-card civicase__activity-card--long" ng-repeat="i in [0,1,2]">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="civicase__activity-card-row" style="margin-bottom: 8px;">
                  <div class="civicase__loading-placeholder__oneline" style="width: 0.8em; font-size: 24px; margin-right: 10px;"></div>
                  <div class="civicase__loading-placeholder__oneline" style="width: 8em; font-size: 18px;"></div>
                  <div class="civicase__activity__right-container civicase__loading-placeholder__oneline" style="width: 7em;"></div>
                </div>
                <div class="civicase__activity-card-row--file civicase__loading-placeholder__oneline" style="width: 8em; margin-bottom: 10px;"></div>
                <div class="civicase__activity-card-row--file civicase__loading-placeholder__oneline" style="width: 5em; margin-bottom: 10px;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="civicase__case-tab--people" ng-show="activeTab === 'people'">
    <div class="civicase__people-tab">
      <ul class="nav nav-tabs">
        <li role="presentation">
          <a href class="civicase__people-tab-link">
            <div class="civicase__loading-placeholder__oneline" style="width: 8em;"></div>
          </a>
        </li>
        <li role="presentation">
          <a href class="civicase__people-tab-link">
            <div class="civicase__loading-placeholder__oneline" style="width: 8em;"></div>
          </a>
        </li>
      </ul>
      <div class="civicase__people-tab__sub-tab">
        <div class="civicase__people-tab__search">
          <div class="civicase__loading-placeholder__oneline pull-right" style="width: 3em; font-size:35px; margin-bottom: 5px;">
          </div>
          <h3><div class="civicase__loading-placeholder__oneline" style="width: 6em; font-size: 20px; margin-bottom: 5px;"></div></h3>
          <div class="civicase__people-tab__selection">
            <div class="civicase__loading-placeholder__oneline" style="width: 20em; margin-bottom: 5px;"></div>
          </div>
          <div class="civicase__people-tab__select-box">
            <div class="civicase__loading-placeholder__oneline" style="width: 6em; font-size:30px; margin-bottom: 5px;"></div>
          </div>
        </div>
        <div class="civicase__people-tab__filter">
          <div class="civicase__loading-placeholder__oneline" style="width: 60em; margin-bottom: 5px;"></div>
          <div class="civicase__loading-placeholder__oneline" style="width: 5em; font-size:30px; margin-bottom: 5px;"></div>
        </div>
        <table class="civicase__people-tab__table table">
          <thead class="civicase__people-tab__table-header">
            <tr>
              <th class="civicase__people-tab__table-column">
                <div class="civicase__loading-placeholder__oneline" style="width: 10em; font-size: 20px; margin-bottom: 5px;"></div>
              </th>
              <th class="civicase__people-tab__table-column">
                <div class="civicase__loading-placeholder__oneline" style="width: 10em; font-size: 20px; margin-bottom: 5px;"></div>
              </th>
              <th class="civicase__people-tab__table-column">
                <div class="civicase__loading-placeholder__oneline" style="width: 10em; font-size: 20px; margin-bottom: 5px;"></div>
              </th>
              <th class="civicase__people-tab__table-column">
                <div class="civicase__loading-placeholder__oneline" style="width: 10em; font-size: 20px; margin-bottom: 5px;"></div>
              </th>
              <th class="civicase__people-tab__table-column">
                <div class="civicase__loading-placeholder__oneline" style="width: 10em; font-size: 20px; margin-bottom: 5px;"></div>
              </th>
              <th class="civicase__people-tab__table-column civicase__people-tab__table-column--last">
              </th>
            </tr>
          </thead>
          <tbody class="civicase__people-tab__table-body">
            <tr>
              <td class="civicase__people-tab__table-column civicase__people-tab__table-column--first">
                <div class="civicase__loading-placeholder__oneline" style="width: 1em; font-size: 24px; margin-right: 5px;"></div>
                <label>
                  <div class="civicase__loading-placeholder__oneline" style="width: 16em; margin-bottom: 5px;"></div>
                  <div class="civicase__loading-placeholder__oneline" style="width: 16em; margin-bottom: 5px;"></div>
                  <div class="civicase__loading-placeholder__oneline" style="width: 16em; margin-bottom: 5px;"></div>
                </label>
              </td>
              <td class="civicase__people-tab__table-column">
                <div class="civicase__loading-placeholder__oneline" style="width: 10em; margin-bottom: 5px;"></div>
              </td>
              <td class="civicase__people-tab__table-column">
                <div class="civicase__loading-placeholder__oneline" style="width: 10em; margin-bottom: 5px;"></div>
              </td>
              <td class="civicase__people-tab__table-column">
                <div class="civicase__loading-placeholder__oneline" style="width: 10em; margin-bottom: 5px;"></div>
              </th>
              <td class="civicase__people-tab__table-column">
                <div class="civicase__loading-placeholder__oneline" style="width: 10em; margin-bottom: 5px;"></div>
              </td>
              <td class="civicase__people-tab__table-column civicase__people-tab__table-column--last">
                <div class="civicase__loading-placeholder__oneline" style="width: 0.5em; font-size: 20px;"></div>
              </td>
            </tr>
            <tr>
              <td class="civicase__people-tab__table-column civicase__people-tab__table-column--first">
                <div class="civicase__loading-placeholder__oneline" style="width: 1em; font-size: 24px; margin-right: 5px;"></div>
                <label>
                  <div class="civicase__loading-placeholder__oneline" style="width: 16em; margin-bottom: 5px;"></div>
                  <div class="civicase__loading-placeholder__oneline" style="width: 16em; margin-bottom: 5px;"></div>
                  <div class="civicase__loading-placeholder__oneline" style="width: 16em; margin-bottom: 5px;"></div>
                </label>
              </td>
              <td class="civicase__people-tab__table-column">
                <div class="civicase__loading-placeholder__oneline" style="width: 10em; margin-bottom: 5px;"></div>
              </td>
              <td class="civicase__people-tab__table-column">
                <div class="civicase__loading-placeholder__oneline" style="width: 10em; margin-bottom: 5px;"></div>
              </td>
              <td class="civicase__people-tab__table-column">
                <div class="civicase__loading-placeholder__oneline" style="width: 10em; margin-bottom: 5px;"></div>
              </th>
              <td class="civicase__people-tab__table-column">
                <div class="civicase__loading-placeholder__oneline" style="width: 10em; margin-bottom: 5px;"></div>
              </td>
              <td class="civicase__people-tab__table-column civicase__people-tab__table-column--last">
                <div class="civicase__loading-placeholder__oneline" style="width: 0.5em; font-size: 20px;"></div>
              </td>
            </tr>
            <tr>
              <td class="civicase__people-tab__table-column civicase__people-tab__table-column--first">
                <div class="civicase__loading-placeholder__oneline" style="width: 1em; font-size: 24px; margin-right: 5px;"></div>
                <label>
                  <div class="civicase__loading-placeholder__oneline" style="width: 16em; margin-bottom: 5px;"></div>
                  <div class="civicase__loading-placeholder__oneline" style="width: 16em; margin-bottom: 5px;"></div>
                  <div class="civicase__loading-placeholder__oneline" style="width: 16em; margin-bottom: 5px;"></div>
                </label>
              </td>
              <td class="civicase__people-tab__table-column">
                <div class="civicase__loading-placeholder__oneline" style="width: 10em; margin-bottom: 5px;"></div>
              </td>
              <td class="civicase__people-tab__table-column">
                <div class="civicase__loading-placeholder__oneline" style="width: 10em; margin-bottom: 5px;"></div>
              </td>
              <td class="civicase__people-tab__table-column">
                <div class="civicase__loading-placeholder__oneline" style="width: 10em; margin-bottom: 5px;"></div>
              </td>
              <td class="civicase__people-tab__table-column">
                <div class="civicase__loading-placeholder__oneline" style="width: 10em; margin-bottom: 5px;"></div>
              </td>
              <td class="civicase__people-tab__table-column civicase__people-tab__table-column--last">
                <div class="civicase__loading-placeholder__oneline" style="width: 0.5em; font-size: 20px;"></div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="civicase__people-tab-counter clearfix">
          <div class="civicase__loading-placeholder__oneline pull-right" style="width: 8em;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
