<div class="civicase-view-tasks">
  <h3>
    {{ ts('Tasks') }}
    <a ng-href="#{{ activityFeedUrl(item.id, 'task', 'incomplete') }}"
       class="badge"
       ng-class="{'item-overdue': isActivityOverdue(item.activity_summary.task[0])}"
       ng-if="item.category_count.task"
       title="{{ ts('View All') }}"
    >
      {{ item.category_count.task }}
    </a>
  </h3>
  <ul class="list-group act-feed-list-group" ng-if="item.tasks.length">
    <li class="list-group-item act-category-task {{ activity.is_completed ? 'is-completed' : 'is-incomplete' }}" ng-repeat="activity in item.tasks">
      <div class="act-feed-item">
        <div class="act-feed-inner">
          <div civicase-activity-dot="activity"></div>
          <a href class="act-task-checkbox" ng-click="markCompleted(activity)" title="{{ ts('Mark complete') }}">
            <i class="fa" ng-class="{'fa-square-o': !activity.is_completed, 'fa-check-square-o': activity.is_completed}"></i>
          </a>
          <h4>
            <span class="act-subject" ng-if="activity.subject">{{ activity.subject }}</span>
            <span class="act-subject" ng-if="!activity.subject">{{ activity.type }}</span>
          </h4>
          <div class="clearfix">
            {{ CRM.utils.formatDate(activity.activity_date_time) }}
          </div>
          <div class="act-contacts-target" ng-if="activity.target_contact_name">
            <strong>{{ ts('With') }}</strong>
            <span civicase-activity-contacts="{activity: activity, type: 'target'}"></span>
          </div>
          <div class="act-contacts-assignee" ng-if="activity.assignee_contact_name">
            <strong>{{ ts('Assigned to') }}</strong>
            <span civicase-activity-contacts="{activity: activity, type: 'assignee'}"></span>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div class="civicase-panel-empty" ng-if="!item.tasks.length">
    {{ ts('No scheduled tasks.') }}
  </div>
</div>
