<div crm-ui-debug="cases"></div>
<div crm-ui-debug="viewingCase"></div>
<div crm-ui-debug="viewingCaseTab"></div>
<h1 crm-page-title>{{ pageTitle }}</h1>
<div id="bootstrap-theme" class="clearfix civicase-main">

  <div class="panel panel-default clearfix" ng-class="{'case-is-focused': caseIsFocused}" civicase-search="filters" hidden-filters="hiddenFilters" expanded="searchIsOpen" on-search="applyAdvSearch(selectedFilters)">
    <div class="civicase-filters-placeholder" ng-click="unfocusCase()">
      <i class="fa fa-angle-double-down" aria-hidden="true"></i>
      {{ ts('Filters') }}
      <i class="fa fa-angle-double-down" aria-hidden="true"></i>
    </div>
  </div>

  <div
    class="civicase-view-with-search pull-right"
    ng-class="{'case-is-focused': caseIsFocused, 'cc-zero-w': !viewingCase}"
    civicase-view="viewingCaseDetails"
    civicase-tab="viewingCaseTab"
    civicase-focused="caseIsFocused"
    civicase-formatter="formatCase">
  </div>
  <div class="panel panel-default case-list-panel" ng-class="{'viewing-case': viewingCase, 'case-is-focused': caseIsFocused}">
  <div class="scrolling outer">
    <div class="inner">    
    <table ng-show="!caseIsFocused" class="case-list-table">
      <thead>
        <tr>
          <th class="fixed-col">
            <div class="case-list-checkbox" ng-if="!viewingCase">
              <input type="checkbox" ng-click="selectAll($event)" id="select-role-{{ $index }}" ng-checked="isSelection('all')" />
              <label for="select-role-{{ $index }}"></label>
            </div>
            <div class="btn-group btn-group-sm" ng-if="!viewingCase">
              <button type="button" class="btn btn-default dropdown-toggle" ng-class="{disabled: !selectedCases.length}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ ts('Actions') }}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" civicase-actions="selectedCases" multiple="true" refresh-callback="refresh"></ul>
            </div>
            <div class="btn-group btn-group-sm cc-sort-btn-group" ng-class="{'pull-right': !viewingCase}">
              <button class="btn btn-default" ng-click="changeSortDir()">
                <i class="fa" ng-class="{'fa-arrow-circle-up': sortDir === 'ASC', 'fa-arrow-circle-down': sortDir === 'DESC'}"></i>
              </button>
              <select class="form-control btn btn-default" ng-model="sortField" crm-ui-select>
                <option value="id">{{ ts('Case ID') }}</option>
                <option value="contact_id.sort_name">{{ ts('Case Client') }}</option>
                <option value="subject">{{ ts('Subject') }}</option>
                <option value="status_id.label">{{ ts('Status') }}</option>
                <option value="case_type_id.title">{{ ts('Type') }}</option>
                <option value="start_date">{{ ts('Start Date') }}</option>
                <option value="end_date">{{ ts('End Date') }}</option>
                <option value="created_date">{{ ts('Date Created') }}</option>
                <option value="modified_date">{{ ts('Last Updated') }}</option>
                <option value="case_manager.sort_name">{{ ts('Case Manager') }}</option>
                <option value="my_role.label_b_a">{{ ts('My Role') }}</option>
                <option value="next_activity">{{ ts('Next Activity') }}</option>
                <option value="next_activity_category_milestone">{{ ts('Next Milestone') }}</option>
                <option value="next_activity_category_task">{{ ts('Next Task') }}</option>
                <option value="next_activity_category_communication">{{ ts('Next Communication') }}</option>
              </select>
            </div>
          </th>
          <th ng-show="!viewingCase" civicase-sortheader="next_activity">{{ ts('Next Activity') }}</th>
          <th ng-show="!viewingCase" civicase-sortheader="subject">{{ ts('Subject') }}</th>
          <th ng-show="!viewingCase" civicase-sortheader="status_id.label">{{ ts('Status') }}</th>
          <th ng-show="!viewingCase" civicase-sortheader="case_type_id.title">{{ ts('Type') }}</th>
          <th ng-show="!viewingCase" civicase-sortheader="case_manager.sort_name">{{ ts('Case Manager') }}</th>
          <th ng-show="!viewingCase" civicase-sortheader="start_date">{{ ts('Start Date') }}</th>
          <th ng-show="!viewingCase" civicase-sortheader="modified_date">{{ ts('Last Updated') }}</th>
          <th ng-show="!viewingCase" civicase-sortheader="my_role.label_b_a">{{ ts('My Role') }}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in cases">
          <td ng-click="viewCase(item.id, $event)" ng-class="{'case-selected-for-view': viewingCase === item.id}" class="fixed-col">
            <div class="case-list-checkbox" ng-if="!viewingCase">
              <input type="checkbox" ng-model="item.selected" />
              <label></label>
            </div>
            <div class="case-list-info">
              <h4>
                {{ item.client[0].display_name }}
                <div class="btn-group btn-group-sm" ng-if="item.client.length > 1">
                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{ ts('Additional clients') }}">
                    +{{ item.client.length - 1 }}
                  </button>
                  <ul class="dropdown-menu" >
                    <li ng-repeat="(index, client) in item.client" ng-if="index">
                      <span>{{ client.display_name }}</span>
                    </li>
                  </ul>
                </div>
              </h4>
              <div ng-if="item.client[0].email">
                <strong>{{ ts('Email:') }}</strong>
                {{ item.client[0].email }}
              </div>
              <div ng-if="item.client[0].phone">
                <strong>{{ ts('Phone:') }}</strong>
                {{ item.client[0].phone }}
              </div>
              <div>
                <strong>{{ ts('Case ID:') }}</strong>
                {{ item.id }}
              </div>
              <div class="case-activity-summary-icons">
                <a class=""
                   ng-repeat="category in activityCategories"
                   ng-href="#{{ activityFeedUrl(item.id, category.name, 'incomplete') }}"
                   ng-class="{'item-overdue': item.activity_summary[category.name][0].is_overdue}"
                   ng-if="item.category_count[category.name]"
                   title="{{ ts('%1 upcoming %2', {1: item.category_count[category.name], 2: category.label}) }}"
                >
                  <i class="fa {{ category.icon }}"></i>
                  <span class="badge noti-badge">{{ item.category_count[category.name] }}</span>
                </a>
              </div>
            </div>
          </td>
          <td ng-show="!viewingCase">
            <div
              ng-if="item.activity_summary.next"
              case-activity-card="item.activity_summary.next[0]"
              refresh-callback="refresh"
            >
            </div>
          </td>
          <td ng-show="!viewingCase">{{ item.subject }}</td>
          <td ng-show="!viewingCase">
            <span class="badge" style="background-color: {{ caseStatuses[item.status_id].color }}">
              {{ item.status }}
            </span>
          </td>
          <td ng-show="!viewingCase">{{ item.case_type }}</td>
          <td ng-show="!viewingCase">{{ item.manager.display_name }}</td>
          <td ng-show="!viewingCase">{{ CRM.utils.formatDate(item.start_date) }}</td>
          <td ng-show="!viewingCase">{{ CRM.utils.formatDate(item.modified_date) }}</td>
          <td ng-show="!viewingCase">{{ item.myRole.join(', ') }}</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
    <div class="center-block civicase-pager">
      <div class="pull-right pager-counter" ng-show="!viewingCase">
        {{ ts('Page %1 of %2', {1: pageNum, 2: pages}) }}
      </div>
      <paging
        class="center-block text-center"
        ng-show="!caseIsFocused && pages > 1"
        page="pageNum"
        page-size="pageSize"
        total="totalCount"
        show-prev-next="true"
        show-first-last="true"
        text-first="{{ ts('<< First') }}"
        text-last="{{ ts('Last >>') }}"
        text-next="{{ ts('Next >') }}"
        text-prev="{{ ts('< Prev') }}"
      ></paging>
    </div>
    <div class="civicase-table-expander" ng-if="viewingCase && !caseIsFocused" ng-click="viewCase(null)"><div>&raquo;</div></div>
    <div class="civicase-table-placeholder" ng-if="caseIsFocused" ng-click="unfocusCase()"><div>&raquo;</div></div>
  </div>
</div>
