<div>
  <civicase-case-card mode="contact-record" case="case" ng-repeat="case in caseObj.cases"></civicase-case-card>
  <div
    class="panel panel-default panel-strip-primary civicase__case-card civicase__case-card--detached" 
    ng-repeat="placeholder in loadingPlaceholders"
    ng-if="!caseObj.isLoaded">
    <div class="panel-body">
      <div class="civicase__case-card__row civicase__case-card__row--primary clearfix">
        <div class="pull-left civicase__case-card-title">
          <div class="civicase__loading-placeholder__oneline" style="width: 16em; font-size: 18px;"></div>
        </div>
        <div class="pull-right">
          <div class="civicase__loading-placeholder__oneline" style="width: 12em; font-size: 18px;"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center civicase__contact-case-tab__case-list__footer">
    <div ng-if="caseObj.showSpinner" class="civicase__spinner"></div>
    <button
      class="btn btn-default"
      ng-if="caseObj.isLoadMoreAvailable && caseObj.isLoaded && !caseObj.showSpinner"
      ng-click="loadMore()">Load More Cases</button>
    <div ng-if="!caseObj.isLoadMoreAvailable">
      <span ng-if="caseObj.cases.length > 0"> Showing all {{ caseObj.cases.length }}</span>
      <p ng-if="caseObj.cases.length == 0 && caseObj.isLoaded" class="text-left"> None Found </p>
    </div>
  </div>
</div>
