<div class="panel panel-default">
  <div class="panel-body panel-body-extra" ng-controller="civicaseCaseDetailsController" ng-if="item">
    <div class="civicase__contact-cases-tab__panel-row civicase__contact-cases-tab__panel-row--dark  clearfix">
      <div class="pull-left civicase__contact-cases-tab__panel-field-emphasis civicase__contact-cases-tab-details__title">
        <span>Case ID: <strong> {{item.id}} </strong></span>
      </div>
      <div class="pull-right">
        <div class="btn-group btn-group-md">
          <button
            type="button"
            style="background-color: {{ caseStatuses[item.status_id].color }};"
            class="btn btn-primary"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{ ts('Change case status') }}">
            {{ item.status }}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li>
              <span class="list-group-item-info">{{ ts("Change status to:") }}</span>
            </li>
            <li ng-repeat="(id, status) in allowedCaseStatuses" ng-if="id !== item.status_id">
              <a
                crm-popup-form-success="pushCaseData($data.civicase_reload[0]); refreshCases()"
                class="crm-popup"
                ng-href="{{
                  'civicrm/case/activity' | civicaseCrmUrl:
                    {
                      action: 'add',
                      reset: 1,
                      cid: item.client[0].contact_id,
                      caseid: item.id,
                      atype: getActivityType('Change Case Status'),
                      case_status_id: id,
                      civicase_reload: caseGetParams()
                    }
                  }}">
                {{ status.label }}
              </a>
            </li>
          </ul>
        </div>
        <div class="btn-group btn-group-md">
          <button
            type="button"
            class="civicase__case-header__action-icon btn btn-primary"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
            <i class="material-icons">menu</i>
          </button>
          <ul
            class="dropdown-menu dropdown-menu-right"
            civicase-case-actions="[item]"
            refresh-callback="refresh"
            popup-params="caseGetParams"
            crm-popup-form-success="pushCaseData($data.civicase_reload[0])"></ul>
        </div>
      </div>
    </div>
    <div class="civicase__contact-cases-tab__panel-row civicase__contact-cases-tab__panel-row--dark  clearfix">
      <div class="pull-left">
        <div class="civicase__contact-card--client" contact-card contacts="item.contacts"></div>
        <div class="civicase__summary-tab__subject">
          <p
            crm-editable="item"
            data-field="subject"
            data-type="textarea"
            data-placeholder="Click to add subject"
            crm-form-success="onChangeSubject($data)">
          </p>
        </div>
        <span class="civicase__case-header__case-type">
          <a
            ng-if="caseTypesLength > 1"
            title="{{ ts('Change Case Type') }}"
            class="crm-popup crm-editable-enabled"
            crm-popup-form-success="pushCaseData($data.civicase_reload[0])"
            ng-href="{{
              'civicrm/case/activity' | civicaseCrmUrl:
                {
                  action: 'add',
                  reset: 1,
                  cid: item.client[0].contact_id,
                  caseid: item.id,
                  atype: getActivityType('Change Case Type'),
                  case_status_id: id,
                  civicase_reload: caseGetParams()
                }
              }}">
            {{ item.case_type }}
          </a>
          <span ng-if="caseTypesLength < 2">
            {{ item.case_type }}
          </span>
        </span>
      </div>
    </div>
    <div class="civicase__contact-cases-tab__panel-row civicase__contact-cases-tab__panel-row--dark  clearfix">
      <div class="pull-left civicase__contact-cases-tab__panel-fields--inline">
        <div class="civicase__case-header__dates">
          <span>{{ CRM.utils.formatDate(item.start_date) || '. . .' }}</span> -
          <span ng-if="item.end_date">{{ CRM.utils.formatDate(item.end_date) }}</span>
          <span ng-if="!item.end_date">{{ ts('Ongoing') }}</span>
        </div>
        <span ng-if="item.tag_id" class="civicase__pipe"> | </span>
        <div
          ng-repeat="tag in item.tag_id || []"
          class="civicase__case-card__tag badge"
          ng-class="{'text-dark': CRM.utils.colorContrast(tag['tag_id.color'] || '#cccccc') === 'black'}"
          style="background-color: {{ tag['tag_id.color'] }};">
          {{ tag['tag_id.name'] }}
        </div>
      </div>
      <span class="pull-right civicase__contact-cases-tab__panel-fields--inline">
        <span class="civicase__contact-cases-tab__panel-field-emphasis">Case Manager:</span>
        <span>
          <span
            class="civicase__contact-card civicase__contact-card--manager"
            contact-card contacts="[item.manager]">
          </span>
        </span>
      </span>
    </div>
    <div class="civicase__contact-cases-tab__panel-row clearfix">
      <!-- Next Activity -->
      <div class="civicase__contact-cases-tab__panel-fields">
        <div class="civicase__contact-cases-tab__panel-field-title">
          Next Activity
        </div>
        <div
          case-activity-card="item.activity_summary.next[0]"
          refresh-callback="refresh"
          case="item"
          crm-popup-form-success="pushCaseData($data.civicase_reload[0])"
        >
        </div>
      </div>
      <!-- End Next Activity -->
      <!-- Upcoming Tasks Counts -->
      <div class="civicase__contact-cases-tab__panel-fields">
        <div class="civicase__contact-cases-tab__panel-field-title">
          Upcoming
        </div>
        <div class="civicase__case-card__activity-info">
          <div class="civicase__case-card__activity-count-container">
            <span>Tasks: </span>
            <a class="civicase__case-card__activity-count"
               ng-if="item.category_count.incomplete.task"
              >
              {{ item.category_count.incomplete.task }}
            </a>
            <span
              ng-if="item.category_count.incomplete.task && item.category_count.overdue.task"
              class="civicase__pipe">
               |
            </span>
            <a
              class="civicase__case-card__activity-count civicase__overdue-activity-icon civicase__overdue-activity-icon--before"
              ng-if="item.category_count.overdue.task"
            > {{ item.category_count.overdue.task }} </a>
            <span
              ng-if="!item.category_count.incomplete.task && !item.category_count.overdue.task"
              class="civicase__case-card__activity-count civicase__case-card__activity-count--zero">
              0
            </span>
          </div>
          <div class="civicase__case-card__activity-count-container">
            <span>Comms: </span>
            <a class="civicase__case-card__activity-count"
               ng-if="item.category_count.incomplete.communication"
            > {{ item.category_count.incomplete.communication }} </a>
            <span
              ng-if="item.category_count.incomplete.communication && item.category_count.overdue.communication"
              class="civicase__pipe"> | </span>
            <a
              class="civicase__case-card__activity-count civicase__overdue-activity-icon civicase__overdue-activity-icon--before"
              ng-if="item.category_count.overdue.communication">
             {{ item.category_count.overdue.communication }}
            </a>
            <span
              ng-if="!item.category_count.incomplete.communication && !item.category_count.overdue.communication"
              class="civicase__case-card__activity-count civicase__case-card__activity-count--zero">
              0
            </span>
          </div>
          <div class="civicase__case-card__activity-count-container">
            <span>Other: </span>
            <a class="civicase__case-card__activity-count"
               ng-if="item.category_count.incomplete.other"
            > {{ item.category_count.incomplete.other }} </a>
            <span
              ng-if="item.category_count.incomplete.other && item.category_count.overdue.other"
              class="civicase__pipe">
               |
             </span>
            <a
              class="civicase__case-card__activity-count civicase__overdue-activity-icon civicase__overdue-activity-icon--before"
              ng-if="item.category_count.overdue.other">
              {{ item.category_count.overdue.other }}
            </a>
            <span
              ng-if="!item.category_count.incomplete.other && !item.category_count.overdue.other"
              class="civicase__case-card__activity-count civicase__case-card__activity-count--zero">
              0
            </span>
          </div>
        </div>
      </div>
      <!-- End Upcoming Tasks Counts -->
      <!-- Case Status -->
      <div class="civicase__contact-cases-tab__panel-fields">
        <div class="civicase__contact-cases-tab__panel-field-title">
          Case Status
        </div>
        <span
          class="crm_notification-badge ng-binding ng-scope"
          style="background-color: {{ caseStatuses[item.status_id].color }};"
          >{{ item.status }}
        </span>
      </div>
      <!-- End Case Status -->
      <!-- Case Summary -->
      <div class="civicase__contact-cases-tab__panel-fields">
        <div class="civicase__contact-cases-tab__panel-field-title">
          Summary
        </div>
        <div>
          {{item.subject}}
        </div>
      </div>
      <!--End Case Summary -->
      <!-- Contact Role -->
      <div class="civicase__contact-cases-tab__panel-fields" ng-if="item.contact_role">
        <div class="civicase__contact-cases-tab__panel-field-title">
          Contact Role
        </div>
        <div>
          {{ item.contact_role }}
        </div>
      </div>
      <!-- End Contact Role -->
      <!-- Last Modified -->
      <div class="civicase__contact-cases-tab__panel-fields">
        <div class="civicase__contact-cases-tab__panel-field-title">
          Last Modified
        </div>
        <span>{{ CRM.utils.formatDate(item.modified_date) }}</span>
      </div>
      <!-- End Last Modified -->
    </div>
    <div class="civicase__contact-cases-tab__panel-row civicase__contact-cases-tab__panel-actions">
      <a ng-href="/civicrm/case/a/#/case/list?caseId={{item.id}}" class="btn btn-primary">
        Go To Case
      </a>
    </div>
  </div>
</div>
