<div>
  <civicase-case-card mode="long" case="case" ng-repeat="case in caseObj.cases"></civicase-case-card>
  <div 
    class="panel panel-default panel-strip-primary civicase__case-card civicase__case-card--long" 
    ng-repeat="placeholder in loadingPlaceholders"
    ng-if="!caseObj.isLoaded">
    <div class="panel-body">
      <div class="clearfix">
        <div class="pull-left civicase__case-card-title">
          <div class="civicase__loading-placeholder__oneline" style="width: 8em;  margin-bottom: 10px;"></div>
        </div>
        <div class="pull-right">
          <div class="civicase__loading-placeholder__oneline" style="width: 12em;  margin-bottom: 10px;"></div>
        </div>      
      </div>
    </div>
  </div>
  <div class="text-center civicase__contact-cases-list-footer">
    <div ng-if="caseObj.showSpinner" class="civicase__spinner"></div>
    <button 
      class="btn btn-default" 
      ng-if="caseObj.isLoadMoreAvailable && caseObj.isLoaded && !caseObj.showSpinner"
      ng-click="loadMore()">Load More Cases</button>
    <div ng-if="!caseObj.isLoadMoreAvailable">
      <span ng-if="caseObj.cases.length > 0"> Showing all {{ caseObj.cases.length }}</span>
      <p ng-if="caseObj.cases.length == 0 && caseObj.isLoaded" class="text-left"> None Found </p>
    </div>    
  </div>
</div>
