<div id="bootstrap-theme" class="civicase__container">
  <div class="civicase__dashboard">
    <h1 crm-page-title crm-document-title="myCasesOnly ? ts('CiviCase Dashboard - My Cases') : ts('CiviCase Dashboard - All Cases')"></h1>

    <div class="dashboard-tab-container clearfix">
      <uib-tabset active="activeTab" type="pills" uib-tabset-class="nav-pills-horizontal nav-pills-horizontal-primary clearfix" uib-tabset-affix>
        <!-- Dashboard Tab -->
        <uib-tab index="0" heading="{{ ts('Dashboard') }}" select="navTabs()">

          <div class="panel panel-default" ng-include="'~/civicase/DashboardSummary.html'"></div>

          <div class="row case-stats-wrapper">
            <!-- Mockup proscribes different coloring for these panels, but don't see a suitable class in the style guide -->
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">{{ts('Open Cases')}}</h3>
                </div>
                <div class="panel-body"><div civicase-type-donut-chart="{my_cases: myCasesOnly, 'status_id.grouping': 'Opened'}"></div></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">{{ts('Cases Closed')}}</h3>
                </div>
                <div class="panel-body"><div civicase-type-donut-chart="{my_cases: myCasesOnly, 'status_id.grouping': 'Closed'}"></div></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">{{ts('Average Duration')}}</h3>
                </div>
                <div class="panel-body"><div civicase-type-duration-chart="{my_cases: myCasesOnly}"></div>
              </div>
            </div>
          </div>
          </div>

          <div class="row dashboard-case-wrapper">
            <div class="col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">{{ ts('Next Milestones') }}
                    <span class="badge badge-primary" ng-class="{'badge-danger': dashboardActivities.nextMilestones[0].is_overdue}">{{ dashboardActivities.nextMilestonesCount }}</span>
                    <a ng-href="{{ seeAllLink('milestone', 'incomplete') }}" class="pull-right">({{ ts('see all') }})</a>
                  </h3>

                </div>
                <div class="panel-body">
                  <div>
                    <ul class="list-group act-feed-list-group">
                      <li class="list-group-item" ng-repeat="activity in dashboardActivities.nextMilestones">
                        <div
                          case-activity-card="activity"
                          refresh-callback="refresh"
                          edit-activity-url="editActivityUrl"
                        ></div>
                      </li>
                      <li class="list-group-item" ng-repeat="placeholder in activityPlaceholders" ng-if="!dashboardActivities.nextMilestones">
                        <div class="civicase__loading-placeholder__activity-card"><div></div></div>
                      </li>
                    </ul>
                    <div class="civicase__panel-empty" ng-if="dashboardActivities.nextMilestones && !dashboardActivities.nextMilestones.length">
                      <i class="fa fa-flag fa-big"></i>
                      <div class="empty-label">{{ ts('There are currently no milestones') }}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">{{ ts('Recent Communications') }}
                    <span class="badge badge-primary">{{ dashboardActivities.recentCommunicationCount }}</span>
                    <a ng-href="{{ seeAllLink('communication', 'completed') }}" class="pull-right">({{ ts('see all') }})</a>
                  </h3>
                </div>
                <div class="panel-body">
                  <div>
                    <ul class="list-group act-feed-list-group">
                      <li class="list-group-item" ng-repeat="activity in dashboardActivities.recentCommunication">
                        <div
                          case-activity-card="activity"
                          refresh-callback="refresh"
                          edit-activity-url="editActivityUrl"
                        ></div>
                      </li>
                      <li class="list-group-item" ng-repeat="placeholder in activityPlaceholders" ng-if="!dashboardActivities.recentCommunication">
                        <div class="civicase__loading-placeholder__activity-card"><div></div></div>
                      </li>
                    </ul>
                    <div class="civicase__panel-empty" ng-if="dashboardActivities.recentCommunication && !dashboardActivities.recentCommunication.length">
                      <i class="fa fa-comment fa-big"></i>
                      <div class="empty-label">{{ ts('There are no past communications') }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">{{ ts('Recent Cases') }}
                    <a ng-href="{{ recentCaseLink }}" class="pull-right">({{ ts('see all') }})</a>
                  </h3>
                </div>
                <div class="panel-body civicase__case-list-panel">
                  <div class="civicase__case-list-panel__inner">
                    <div
                    class="civicase__case-list-table__wrapper"
                    case-list-table
                    case-list-table-sort="{dir: 'DESC', field: 'modified_date'}"
                    case-list-table-page="{num: 1, size: 10, total: 0}"
                    case-list-table-filters="recentCaseFilter"
                    refresh-callback="refresh"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </uib-tab>
        <!-- End - Dashboard Tab -->
        <!-- Activities Tab -->
        <uib-tab index="1" heading="{{ts('Activities')}}">
          <div ng-if="activeTab == 1" civicase-activity-feed="{filters: activityFilters}" class="civicase__dashboard-activites-feed"></div>
        </uib-tab>
        <!-- End - Activities Tab -->
        <div class="pull-right">
          <input
            class="form-control civicase__dashboard__relation-filter" ng-list
            ng-if="caseRelationshipType"
            crm-ui-select="{allowClear: false, multiple: false, data: caseRelationshipOptions}"
            ng-model="caseRelationshipType" />
          <!-- <input type="checkbox" id="dashboard-myCasesOnly" ng-model="myCasesOnly" ng-show="checkPerm('access all cases and activities')"> -->
          <!-- <label for="dashboard-myCasesOnly" ng-show="checkPerm('access all cases and activities')">{{ts('My cases only')}}</label> -->

          <a ng-if="checkPerm('add cases')"
            ng-href="{{ url('civicrm/case/add', {reset: 1, action: 'add', context: 'standalone'}) }}"
            class="btn btn-primary crm-popup civicase__dashboard__add-case"
            crm-popup-form-success="refresh()">
            <i class="material-icons">add_circle</i>{{ ts('Add Case') }}
          </a>
        </div>
      </uib-tabset>
    </div>
  </div>
</div>
