<div class="civicase__dashboard__tab">
  <div class="civicase__dashboard__tab__top">
    <div class="panel panel-secondary civicase__dashboard__overview">
      <div class="panel-body">
        <div class="civicase__dashboard__overview-container">
          <div class="civicase__dashboard__overview__title">
            <div class="civicase__dashboard__overview__title-field">
              Overview
            </div>
            <div class="civicase__dashboard__overview__title-field">
              <div class="civicase__dashboard__overview__title-field-count">12</div>
              <div class="civicase__dashboard__overview__title-field-description">
                <span>
                  Inactive
                </span>
              </div>
              <span class="civicase__dashboard__overview__title-field-border" style="background-color: green;"></span>
            </div>
            <div class="civicase__dashboard__overview__title-field">
              <div class="civicase__dashboard__overview__title-field-count">20</div>
              <div class="civicase__dashboard__overview__title-field-description">
                <span>
                  Inactive
                </span>
              </div>
              <span class="civicase__dashboard__overview__title-field-border" style="background-color: blue;"></span>
            </div>
            <div class="civicase__dashboard__overview__title-field">
              <div class="civicase__dashboard__overview__title-field-count">30</div>
              <div class="civicase__dashboard__overview__title-field-description">
                <span>
                  Awaiting Allocation (Reg/Nat)
                </span>
              </div>
              <span class="civicase__dashboard__overview__title-field-border" style="background-color: pink;"></span>
            </div>
            <div class="civicase__dashboard__overview__title-field">
              <div class="civicase__dashboard__overview__title-field-count">30</div>
              <div class="civicase__dashboard__overview__title-field-description">
                <span>
                  In Progress (Reg/Nat)
                </span>
              </div>
              <span class="civicase__dashboard__overview__title-field-border" style="background-color: purple;"></span>
            </div>
            <div class="civicase__dashboard__overview__title-field">
              <div class="civicase__dashboard__overview__title-field-count">30</div>
              <div class="civicase__dashboard__overview__title-field-description">
                <span>
                  In Progress (Reg/Nat)
                </span>
              </div>
              <span class="civicase__dashboard__overview__title-field-border" style="background-color: grey;"></span>
            </div>
            <div class="civicase__dashboard__overview__title-field">
              <div class="civicase__dashboard__overview__title-field-count">30</div>
              <div class="civicase__dashboard__overview__title-field-description">
                <span>
                  In Progress (Reg/Nat)
                </span>
              </div>
              <span class="civicase__dashboard__overview__title-field-border" style="background-color: yellow;"></span>
            </div>
            <div class="civicase__dashboard__overview__title-field">
              <div class="civicase__dashboard__overview__title-field-count">30</div>
              <div class="civicase__dashboard__overview__title-field-description">
                <span>
                  In Progress (Reg/Nat)
                </span>
              </div>
              <span class="civicase__dashboard__overview__title-field-border" style="background-color: skyblue;"></span>
            </div>
            <div class="civicase__dashboard__overview__title-field">
              <div class="civicase__dashboard__overview__title-field-count">30</div>
              <div class="civicase__dashboard__overview__title-field-description">
                <span>
                  In Progress (Reg/Nat)
                </span>
              </div>
              <span class="civicase__dashboard__overview__title-field-border" style="background-color: orange;"></span>
            </div>
            <div class="civicase__dashboard__overview__title-field">
              <div class="civicase__dashboard__overview__title-field-count">30</div>
              <div class="civicase__dashboard__overview__title-field-description">
                <span>
                  In Progress (Reg/Nat)
                </span>
              </div>
              <span class="civicase__dashboard__overview__title-field-border" style="background-color: beige;"></span>
            </div>
          </div>
          <div class="civicase__dashboard__overview__body">
            <div class="civicase__dashboard__overview__body-field">
              Enquiry
            </div>
            <div class="civicase__dashboard__overview__body-field">
              23
            </div>
            <div class="civicase__dashboard__overview__body-field">
              30
            </div>
            <div class="civicase__dashboard__overview__body-field">
              14
            </div>
            <div class="civicase__dashboard__overview__body-field">
              21
            </div>
            <div class="civicase__dashboard__overview__body-field">
              19
            </div>
            <div class="civicase__dashboard__overview__body-field">
              41
            </div>
            <div class="civicase__dashboard__overview__body-field">
              13
            </div>
            <div class="civicase__dashboard__overview__body-field">
              21
            </div>
            <div class="civicase__dashboard__overview__body-field">
              11
            </div>
          </div>
          <div class="civicase__dashboard__overview__body">
            <div class="civicase__dashboard__overview__body-field">
              Individual
            </div>
            <div class="civicase__dashboard__overview__body-field">
              13
            </div>
            <div class="civicase__dashboard__overview__body-field">
              33
            </div>
            <div class="civicase__dashboard__overview__body-field">
              22
            </div>
            <div class="civicase__dashboard__overview__body-field">
              15
            </div>
            <div class="civicase__dashboard__overview__body-field">
              91
            </div>
            <div class="civicase__dashboard__overview__body-field">
              41
            </div>
            <div class="civicase__dashboard__overview__body-field">
              19
            </div>
            <div class="civicase__dashboard__overview__body-field">
              10
            </div>
            <div class="civicase__dashboard__overview__body-field">
              1
            </div>
          </div>
          <div class="civicase__dashboard__overview__body">
            <div class="civicase__dashboard__overview__body-field">
              Collective Lorem Ipsum
            </div>
            <div class="civicase__dashboard__overview__body-field">
              11
            </div>
            <div class="civicase__dashboard__overview__body-field">
              20
            </div>
            <div class="civicase__dashboard__overview__body-field">
              12
            </div>
            <div class="civicase__dashboard__overview__body-field">
              88
            </div>
            <div class="civicase__dashboard__overview__body-field">
              01
            </div>
            <div class="civicase__dashboard__overview__body-field">
              32
            </div>
            <div class="civicase__dashboard__overview__body-field">
              82
            </div>
            <div class="civicase__dashboard__overview__body-field">
              45
            </div>
            <div class="civicase__dashboard__overview__body-field">
              14
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="civicase__dashboard__tab__main">
    <div class="civicase__dashboard__tab__col-wrapper">
      <div class="civicase__dashboard__tab__col civicase__dashboard__tab__col--left"></div>
      <div class="civicase__dashboard__tab__col civicase__dashboard__tab__col--right">
        <!-- New Cases -->
        <civicase-panel-query query="newCasesPanel.query" handlers="newCasesPanel.handlers" custom-data="newCasesPanel.custom">
          <panel-query-title>
            You have {{loading.full ? '-' : total}} new cases
          </panel-query-title>
          <panel-query-results>
            <civicase-case-card ng-repeat="case in results" ng-click="customData.caseClick(case)" mode="dashboard" case="case"></civicase-case-card>
          </panel-query-results>
        </civicase-panel-query>
      </div>
    </div>
  </div>
</div>
