<div class="civicase__dashboard__tab">
  <div class="civicase__dashboard__tab__top"></div>
  <div class="civicase__dashboard__tab__main">
    <div class="civicase__dashboard__tab__col-wrapper">
      <div class="civicase__dashboard__tab__col civicase__dashboard__tab__col--left"></div>
      <div class="civicase__dashboard__tab__col civicase__dashboard__tab__col--right">
        <!-- New Cases -->
        <civicase-panel-query query="newCasesPanel.query" handlers="newCasesPanel.handlers" custom-data="newCasesPanel.custom">
          <panel-query-title>
            You have {{loading.full ? '-' : total}} new cases
          </panel-query-title>
          <panel-query-results>
            <civicase-case-card ng-repeat="case in results" ng-click="customData.caseClick(case)" mode="dashboard" case="case"></civicase-case-card>
          </panel-query-results>
        </civicase-panel-query>
        <div class="panel panel-secondary">
          <header class="panel-heading">
            <div class="clearfix">
              <h2 class="panel-title pull-left">You have 2 milestones due</h2>
              <div class="panel-heading-control crm_custom-select pull-left">
                <select>
                  <option value="week">This Week</option>
                  <option value="month">This Month</option>
                </select>
                <span class="crm_custom-select__arrow"></span>
              </div>
              <div class="pull-right">
                <div class="panel-heading-control btn-group btn-group-sm civicase__activity-filter__contact">
                  <a href class="active btn btn-default">My Activities</a>
                  <a href class="btn btn-default">Delegated</a>
                  <a href class="btn btn-default">All</a>
                </div>
              </div>
            </div>
          </header>
          <div class="panel-body">----</div>
          <footer class="panel-footer">
            Showing 1 to 4 of 4 cases
          </footer>
        </div>
        <div class="panel panel-secondary">
          <header class="panel-heading">
            <div class="clearfix">
              <h2 class="panel-title pull-left">You have 22 overdue activities and 16 due</h2>
              <div class="panel-heading-control crm_custom-select pull-left">
                <select>
                  <option value="week">This Week</option>
                  <option value="month">This Month</option>
                </select>
                <span class="crm_custom-select__arrow"></span>
              </div>
              <div class="pull-right">
                <div class="panel-heading-control btn-group btn-group-sm civicase__activity-filter__contact">
                  <a href class="active btn btn-default">My Activities</a>
                  <a href class="btn btn-default">Delegated</a>
                  <a href class="btn btn-default">All</a>
                </div>
              </div>
            </div>
          </header>
          <div class="panel-body">----</div>
          <footer class="panel-footer">
            Showing 1 to 4 of 4 cases
          </footer>
        </div>
      </div>
    </div>
  </div>
</div>
