<div id="bootstrap-theme" class="civicase-main">

  <h1 crm-page-title>{{ ts('CiviCase Dashboard') }}</h1>

  <span class="hideous-fixme" style="background: hotpink; text-align: center;">
    <label for="dashboard-myCasesOnly">
      <input type="checkbox" id="dashboard-myCasesOnly" ng-model="myCasesOnly">
      {{ts('My cases only')}}
    </label>
  </span>

  <uib-tabset active="activeTab" justified="true" type="pills" uib-tabset-class="nav-pills-horizontal nav-pills-horizontal-primary">
    <uib-tab index="0" heading="{{ts('Dasboard')}}">
      <div crm-ui-debug="dashboardActivities"></div>

      <div class="panel panel-default" ng-include="'~/civicase/DashboardSummary.html'"></div>

      <div class="row dashboard-case-wrapper">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{ ts('Next Milestones') }}
                <span class="badge badge-danger">{{dashboardActivities.nextMilestones.length}}</span>
                <a ng-href="{{ seeAllLink('milestone', 'incomplete') }}" class="pull-right">({{ ts('see all') }})</a>
              </h3>

            </div>
            <div class="panel-body">
              <div class="activity-timeline">
                <ul class="list-group act-feed-list-group" ng-if="dashboardActivities.nextMilestones.length">
                  <li class="list-group-item" ng-repeat="activity in dashboardActivities.nextMilestones">
                    <div
                      case-activity-card="activity"
                      refresh-callback="refresh"
                      edit-activity-url="editActivityUrl"
                    ></div>
                  </li>
                </ul>
                <div class="civicase-panel-empty" ng-if="!dashboardActivities.nextMilestones.length">
                  {{ ts('No upcoming milestones.') }}
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{ ts('Recent Communications') }}
                <span class="badge badge-primary">{{dashboardActivities.recentCommunication.length}}</span>
                <a ng-href="{{ seeAllLink('communication', 'completed') }}" class="pull-right">({{ ts('see all') }})</a>
              </h3>
            </div>
            <div class="panel-body">
              <div class="activity-timeline">
                <ul class="list-group act-feed-list-group" ng-if="dashboardActivities.recentCommunication.length">
                  <li class="list-group-item" ng-repeat="activity in dashboardActivities.recentCommunication">
                    <div
                      case-activity-card="activity"
                      refresh-callback="refresh"
                      edit-activity-url="editActivityUrl"
                    ></div>
                  </li>
                </ul>
                <div class="civicase-panel-empty" ng-if="!dashboardActivities.recentCommunication.length">
                  {{ ts('No completed communications.') }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{ ts('Recent Cases') }}
                <a href="#" class="pull-right">(view all in caselist)</a>
              </h3>
            </div>
            <div class="panel-body">
              FIXME: Need to show Recent Cases
            </div>
          </div>
        </div>
      </div>

    </uib-tab>
    <uib-tab index="1" heading="{{ts('Activities')}}">
      <div ng-if="myCasesOnly">FIXME: how to filter on case-manager=='user_contact_id'?</div>
      <!-- Micro-optimization: Only load data when tab is active -->
      <div ng-if="activeTab == 1" civicase-activity-feed="{filters: activityFilters}"></div>
    </uib-tab>
    <!--<uib-tab index="2" heading="{{ts('Calendar')}}">-->
      <!--{{ts('TODO: Calendar')}}-->
    <!--</uib-tab>-->
  </uib-tabset>

</div>
