<div class="civicase__dashboard__tab">
  <div class="civicase__dashboard__tab__top"></div>
  <div class="civicase__dashboard__tab__main">
    <div class="civicase__dashboard__tab__col-wrapper">
      <div class="civicase__dashboard__tab__col civicase__dashboard__tab__col--left"></div>
      <div class="civicase__dashboard__tab__col civicase__dashboard__tab__col--right">
        <!-- New Cases -->
        <civicase-panel-query query="newCasesPanel.query" handlers="newCasesPanel.handlers" custom-data="newCasesPanel.custom">
          <panel-query-title>
            You have {{loading.full ? '-' : total}} new cases
          </panel-query-title>
          <panel-query-results>
            <civicase-case-card ng-repeat="case in results" ng-click="customData.caseClick(case)" mode="dashboard" case="case"></civicase-case-card>
          </panel-query-results>
        </civicase-panel-query>
      </div>
    </div>
  </div>
</div>
