<div crm-ui-debug="filesByAct"></div>

<div ng-hide="apiCtrl.result.count">
  {{ts('No files found')}}
</div>

<ul class="list-group act-feed-list-group" ng-show="apiCtrl.result.count > 0">
  <li class="list-group-item act-category-communication {{ activity.is_completed ? 'is-completed' : 'is-incomplete' }}" ng-repeat="activity in apiCtrl.result.xref.activity">
    <div class="act-feed-item">
      <div class="act-feed-inner">

        <div civicase-activity-dot="activity"></div>

        <h4>
          <span class="act-subject">{{activity.type}}{{activity.subject ? ': ' : ''}}{{activity.subject}}</span>
        </h4>

        <!-- FIXME: ellipsis or fade-out effect -->
        <p ng-bind-html="activity.details" style="max-height: 3em; overflow: hidden"></p>

        <div class="act-files clearfix">
          <div ng-repeat="file in filesByAct[activity.id]">
            <a ng-href="{{file.url}}" title="Uploaded {{file.upload_date}}"><i class="fa {{file.icon}}"></i><code>{{file.name}}</code></a>
            <p>{{file.description}}</p>
          </div>
        </div>

      </div>
    </div>
  </li>
</ul>
