<form class="form-inline">
  <input type="search" class="form-control" style="width: 60%" placeholder="{{ ts('Contains text') }}" ng-model="apiCtrl.params.text"/>
  <input class="form-control" crm-ui-select="{allowClear: true, multiple: false, placeholder: ts('File Types...'), data: fileCategoriesIT}" ng-model="apiCtrl.params.mime_type_cat"/>
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="customFilters.showLetters"> {{ts('Show generated letters')}}
    </label>
  </div>
</form>