<div class="panel panel-secondary">
  <header class="panel-heading">
    <div class="clearfix">
      <h2 class="panel-title pull-left">{{title}}</h2>
      <div class="panel-heading-control crm_custom-select pull-left">
        <select ng-options="range.value as range.label for range in periodRange" ng-model="selectedRange"></select>
        <span class="crm_custom-select__arrow"></span>
      </div>
      <div class="pull-right" ng-transclude="actions"></div>
    </div>
  </header>
  <div class="panel-body">
    <div ng-hide="loading" ng-transclude="results"></div>
    <div ng-if="loading">
      <div class="panel panel-default" ng-repeat="i in [0,1]">
        <div class="panel-body" style="border-top: 0;">
          <div class="civicase__activity-card-row" style="margin-bottom: 8px;">
            <div
              class="civicase__loading-placeholder__oneline"
              style="width: 0.8em; font-size: 24px; margin-right: 10px;">
            </div>
            <div class="civicase__loading-placeholder__oneline" style="width: 8em; font-size: 18px;"></div>
            <div
              class="civicase__activity__right-container civicase__loading-placeholder__oneline"
              style="width: 7em;">
            </div>
          </div>
          <div
            class="civicase__activity-card-row--file civicase__loading-placeholder__oneline"
            style="width: 8em; margin-bottom: 10px;">
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="panel-footer">
    <paging
      class="pull-right"
      ng-show="total > 1"
      page="pagination.page"
      page-size="pagination.size"
      total="total"
      adjacent="1"
      dots="..."
      show-prev-next="true"
      show-first-last="true"
      text-first="{{ ts('First') }}"
      text-last="{{ ts('Last') }}"
      text-next="{{ ts('Next') }}"
      text-prev="{{ ts('Prev') }}"
    ></paging>
    <div>Showing {{pagination.range.from}} to {{pagination.range.to}} of {{total}} {{customData.itemName || 'items'}}</div>
  </footer>
</div>
