<div crm-ui-debug="caseRoles"></div>
<ul class="nav nav-tabs">
  <li role="presentation" ng-class="{active: tab == 'roles'}"><a href ng-click="setTab('roles')">{{ ts('Case Roles') }}</a></li>
  <li role="presentation" ng-class="{active: tab == 'relations'}"><a href ng-click="setTab('relations')">{{ ts('Other Relationships') }}</a></li>
</ul>
<div class="civicase-relationships-case case-people-subtab" ng-show="tab == 'roles'">
  <div>
    <h3>{{ ts('%1 Contacts', {1: item.contacts.length}) }}</h3>
    <div>
      <strong>{{ ts('With:') }}</strong> &nbsp;
      <input type="radio" value="all" ng-model="rolesSelectionMode" id="rolesSelectionMode-all"/>
      <label for="rolesSelectionMode-all">{{ ts('All %1 Contacts', {1: item.contacts.length}) }}</label>
      <input type="radio" value="checked" ng-model="rolesSelectionMode" id="rolesSelectionMode-checked"/>
      <label for="rolesSelectionMode-checked">{{ ts('%1 Selected', {1: getSelectedRoles(true).length}) }}</label>
      <select class="form-control case-action-dropdown" ng-model="rolesSelectedTask" ng-change="doContactTask()" >
        <option value="">{{ ts('Actions') }}</option>
        <option ng-repeat="(key, opt) in contactTasks" value="{{ key }}">{{ opt }}</option>
      </select>
    </div>
  </div>
  <div class="civicase-alpha-pager">
    <a ng-repeat="a in letters" href ng-class="{active: a === rolesAlphaFilter}" ng-click="setLetterFilter(a, 'roles')">{{ a }}</a>
  </div>
  <table>
    <thead><tr>
      <th></th>
      <th>{{ ts('Role') }}</th>
      <th>{{ ts('Name') }}</th>
      <th>{{ ts('Phone') }}</th>
      <th>{{ ts('Email') }}</th>
      <th></th>
    </tr></thead>
    <tbody>
      <tr ng-repeat="role in caseRoles" ng-class="{unassigned: !role.contact_id}">
        <td>
          <input ng-if="role.contact_id" type="checkbox" ng-model="role.checked" ng-click="setSelectionMode('checked', 'roles')" />
        </td>
        <td>
          <div><strong>{{ role.role }}</strong></div>
          <div><em>{{ role.description }}</em></div>
        </td>
        <td>
          <span ng-if="role.contact_id">{{ role.display_name }}</span>
          <span ng-if="!role.contact_id">{{ ts('Unassigned')  }}</span>
        </td>
        <td>{{ role.phone }}</td>
        <td>{{ role.email }}</td>
        <td>
          <a href ng-if="!role.contact_id" ng-click="assignRole(role)">
            <i class="fa fa-user-plus"></i>
          </a>
          <div ng-if="role.contact_id" class="btn-group btn-group-sm">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-ellipsis-v"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <a href ng-click="assignRole(role, true)">{{ ts('Reassign %1', {1: role.role}) }}</a>
              </li>
              <li ng-if="role.relationship_type_id || allowMultipleCaseClients">
                <a href ng-click="assignRole(role)">{{ ts('Add Another %1', {1: role.role}) }}</a>
              </li>
              <li ng-if="role.relationship_type_id || item.client.length > 1">
                <a href ng-click="unassignRole(role)">{{ ts('Remove %1', {1: role.role}) }}</a>
              </li>
              <li role="separator" class="divider"></li>
              <li ng-if="role.email">
                <a class="crm-popup" href="{{ CRM.url('civicrm/activity/email/add', {action: 'add', caseid: item.id, reset: 1, cid: role.contact_id}) }}">{{ ts('Send Email') }}</a>
              </li>
              <li>
                <a class="crm-popup" href="{{ CRM.url('civicrm/activity/pdf/add', {action: 'add', caseid: item.id, reset: 1, cid: role.contact_id, context: 'standalone'}) }}">{{ ts('Print/Merge Document') }}</a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <paging
    class="center-block text-center"
    page="rolesPage"
    page-size="25"
    total="rolesCount"
    show-prev-next="true"
    show-first-last="true">
  </paging>
</div>
<div class="civicase-relationships-other case-people-subtab" ng-show="tab == 'relations'">
  <div>
    <div class="btn-group btn-group-sm pull-right">
      <a ng-if="item.client.length === 1" class="btn btn-primary crm-popup" crm-popup-form-success="getRelations()" href="{{ CRM.url('civicrm/contact/view/rel', {action: 'add', reset: 1, cid: item.client[0].contact_id}) }}">
        <i class="fa fa-plus"></i> {{ ts('Relationship') }}
      </a>
      <button ng-if="item.client.length > 1" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-plus"></i> {{ ts('Relationship') }} <span class="caret"></span>
      </button>
      <ul ng-if="item.client.length > 1" class="dropdown-menu dropdown-menu-right" crm-popup-form-success="getRelations()">
        <li ng-repeat="client in item.client">
          <a class="crm-popup" href="{{ CRM.url('civicrm/contact/view/rel', {action: 'add', reset: 1, cid: client.contact_id}) }}">
            {{ client.display_name }}
          </a>
        </li>
      </ul>
    </div>
    <h3>{{ ts('%1 Contacts', {1: relations.length}) }}</h3>
    <div>
      <strong>{{ ts('With:') }}</strong> &nbsp;
      <input type="radio" value="all" ng-model="relationsSelectionMode" id="relationsSelectionMode-all"/>
      <label for="relationsSelectionMode-all">{{ ts('All %1 Contacts', {1: relations.length}) }}</label>
      <input type="radio" value="checked" ng-model="relationsSelectionMode" id="relationsSelectionMode-checked"/>
      <label for="relationsSelectionMode-checked">{{ ts('%1 Selected', {1: getSelectedRelations(true).length}) }}</label>
      <select class="form-control case-action-dropdown" ng-model="relationsSelectedTask" ng-change="doContactTask()" >
        <option value="">{{ ts('Actions') }}</option>
        <option ng-repeat="(key, opt) in contactTasks" value="{{ key }}">{{ opt }}</option>
      </select>
    </div>
  </div>
  <div class="civicase-alpha-pager">
    <a ng-repeat="a in letters" href ng-class="{active: a === relationsAlphaFilter}" ng-click="setLetterFilter(a, 'relations')">{{ a }}</a>
  </div>
  <table>
    <thead><tr>
      <th></th>
      <th>{{ ts('Name') }}</th>
      <th>{{ ts('Relationship') }}</th>
      <th>{{ ts('Client') }}</th>
      <th>{{ ts('Phone') }}</th>
      <th>{{ ts('Email') }}</th>
      <th></th>
    </tr></thead>
    <tbody>
      <tr ng-repeat="contact in relations">
        <td><input type="checkbox" ng-model="contact.checked" ng-click="setSelectionMode('checked', 'relations')" /></td>
        <td>{{ contact.display_name }}</td>
        <td>{{ contact.relation }}</td>
        <td>{{ contact.client }}</td>
        <td>{{ contact.phone }}</td>
        <td>{{ contact.email }}</td>
        <td>
          <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-ellipsis-v"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" crm-popup-form-success="getRelations()">
              <li>
                <a class="crm-popup" href="{{ CRM.url('civicrm/contact/view/rel', {action: 'update', reset: 1, id: contact.relationship_id, cid: contact.id, rtype: contact.relationship_direction}) }}">{{ ts('Edit Relationship') }}</a>
              </li>
              <li role="separator" class="divider"></li>
              <li ng-if="contact.email">
                <a class="crm-popup" href="{{ CRM.url('civicrm/activity/email/add', {action: 'add', caseid: item.id, reset: 1, cid: contact.id}) }}">{{ ts('Send Email') }}</a>
              </li>
              <li>
                <a class="crm-popup" href="{{ CRM.url('civicrm/activity/pdf/add', {action: 'add', caseid: item.id, reset: 1, cid: contact.id, context: 'standalone'}) }}">{{ ts('Print/Merge Document') }}</a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <paging
    class="center-block text-center"
    page="relationsPage"
    page-size="25"
    total="relationsCount"
    show-prev-next="true"
    show-first-last="true">
  </paging>
</div>
