<div class="panel panel-default civicase-view-panel">
  <div
    class="panel-header civicase__case-header"
    ng-if="item"
    ng-include="'~/civicase/CaseViewHeader.html'">
  </div>
  <div
    class="panel-body civicase__case-body"
    ng-if="item"
    ng-include="'~/civicase/CaseTabs.html'">
  </div>
  <div
    ng-if="!item"
    class="civicase__loading-placeholder__case-view-panel"
    ng-include="'~/civicase/CaseViewPlaceholder.html'">
  </div>
</div>
<div
  class="panel panel-primary civicase-view-other-cases-panel"
  ng-if="item && item.relatedCases.length && activeTab === 'summary'"
  ng-include="'~/civicase/CaseViewOtherCases.html'">
</div>
