<div crm-ui-debug="caseRoles"></div>
<ul class="nav nav-tabs">
  <li role="presentation" ng-class="{active: tab == 'roles'}"><a href ng-click="setTab('roles')">{{ ts('Case Roles') }}</a></li>
  <li role="presentation" ng-class="{active: tab == 'relations'}"><a href ng-click="setTab('relations')">{{ ts('Other Relationships') }}</a></li>
</ul>
<div class="civicase-relationships-case" ng-show="tab == 'roles'">
  <div class="civicase-alpha-pager">
    <a ng-repeat="a in letters" href ng-class="{active: a === rolesAlphaFilter}" ng-click="setRolesLetterFilter(a)">{{ a }}</a>
  </div>
  <table>
    <thead><tr>
      <th></th>
      <th>{{ ts('Role') }}</th>
      <th>{{ ts('Name') }}</th>
      <th>{{ ts('Phone') }}</th>
      <th>{{ ts('Email') }}</th>
      <th>{{ ts('Actions') }}</th>
    </tr></thead>
    <tbody>
      <tr ng-repeat="role in caseRoles">
        <td>
          <input ng-if="role.contact_id" type="checkbox" />
        </td>
        <td>
          <div><strong>{{ role.role }}</strong></div>
          <div><em>{{ role.description }}</em></div>
        </td>
        <td>
          <span ng-if="role.contact_id">{{ role.display_name }}</span>
          <span ng-if="!role.contact_id"><em>{{ ts('Unassigned')  }}</em></span>
        </td>
        <td>{{ role.phone }}</td>
        <td>{{ role.email }}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <paging
    class="center-block text-center"
    page="rolePage"
    page-size="25"
    total="roleCount"
    show-prev-next="true"
    show-first-last="true">
  </paging>
</div>
<div class="civicase-relationships-other" ng-show="tab == 'relations'">
  <table>
    <thead><tr>
      <th>{{ ts('Client') }}</th>
      <th>{{ ts('Relationship') }}</th>
      <th>{{ ts('Name') }}</th>
      <th>{{ ts('Phone') }}</th>
      <th>{{ ts('Email') }}</th>
    </tr></thead>
    <tbody>
      <tr ng-repeat="contact in people">
        <td>{{ contact.client }}</td>
        <td>{{ contact.relation }}</td>
        <td>{{ contact.display_name }}</td>
        <td>{{ contact.phone }}</td>
        <td>{{ contact.email }}</td>
      </tr>
    </tbody>
  </table>
</div>
